{% extends 'hmis/base.html' %}
{% load static %}

{% block title %}My Schedule{% endblock %}

{% block styles %} 
<!-- Stylesheet for the program -->
<link rel="stylesheet" href="{% static 'css/style-appointments.css' %}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    
{% endblock styles %}

{% block content %}
<div id="whole-screen">
    <div id="side-menu">
        <div id="all-info">
            <div id="user-info"> 
                <div id="image">
                    <img src="\static\doctorjohn.jpg" id="display-photo">
                </div>
                <div id="information">
                    {% for doctor_id, doctor_data in doctors.items %}
                        {% if doctor_data.uid == uid %}
                            <div id="name"> {{ doctor_data.fname }} {{ doctor_data.lname }}</div>
                            <div id="role"> {{ doctor_data.specialization}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="menu"> 
                <div id="a1"><a href="{% url 'DoctorDashboard' %}">Dashboard</a></div>
                <div id="a3" style="font-weight: bold;"><a href="{% url 'AppointmentUpcoming' %}">Appointments</a></div>
                <div id="a1"><a href="">Patients</a></div>
                <div id="a4"><a href="">Medications</a></div>
                <div id="a5"><a href="">Message</a></div>
                <div id="a7"><a href="{% url 'logout' %}">Logout</a></div>
            </div>
        </div>
    </div>
    <div id="appointment-screen">
        <div class="apt-header-btns">
            <div class="apt-header-left">
                <div id = "apt-btn"><a href="AppointmentCalendar.html">Calendar</a></div>
                <div id = "apt-btn"><a href="AppointmentUpcoming.html">Upcoming</a></div>
                <div id = "apt-btn"><a href="AppointmentPast.html">Past</a></div>
                <div id="apt-btn" style="font-weight: bold;"><a href="AppointmentScheduling.html">Schedule</a></div>
            </div>
        </div>

        <form method="post" action="{% url 'AppointmentScheduling' %}">
            {% csrf_token %}
            <div id="day-selection">
                <h2>Select Your Appointment Schedule</h2>
                <label style="font-weight: bold;">Select Days:</label>
                <div class="day-checkboxes">
                    <div class="day-checkbox">
                        <input type="checkbox" id="sunday" name="selected_days" value="sunday" {% if 'sunday' in selected_days %}checked{% endif %}>
                        <label for="sunday">Sunday</label>
                    </div>
                    <div class="day-checkbox">
                        <input type="checkbox" id="monday" name="selected_days" value="monday" {% if 'monday' in selected_days %}checked{% endif %}>
                        <label for="monday">Monday</label>
                    </div>
                    <div class="day-checkbox">
                        <input type="checkbox" id="tuesday" name="selected_days" value="tuesday" {% if 'tuesday' in selected_days %}checked{% endif %}>
                        <label for="tuesday">Tuesday</label>
                    </div>
                    <div class="day-checkbox">
                        <input type="checkbox" id="wednesday" name="selected_days" value="wednesday" {% if 'wednesday' in selected_days %}checked{% endif %}>
                        <label for="wednesday">Wednesday</label>
                    </div>
                    <div class="day-checkbox">
                        <input type="checkbox" id="thursday" name="selected_days" value="thursday" {% if 'thursday' in selected_days %}checked{% endif %}>
                        <label for="thursday">Thursday</label>
                    </div>
                    <div class="day-checkbox">
                        <input type="checkbox" id="friday" name="selected_days" value="friday" {% if 'friday' in selected_days %}checked{% endif %}>
                        <label for="friday">Friday</label>
                    </div>
                    <div class="day-checkbox">
                        <input type="checkbox" id="saturday" name="selected_days" value="saturday" {% if 'saturday' in selected_days %}checked{% endif %}>
                        <label for="saturday">Saturday</label>
                    </div>
                </div>
            </div>

            <div id="time-selection">
                <div class="time-slot">
                    <label for="morning-start" style="font-weight: bold;">Morning Start: </label>
                    <input type="text" id="morning-start" class="timepicker" placeholder="Select time" name="morning_start" value="{{ morning_start }}">
                    <label for="morning-end" style="font-weight: bold;">Morning End: </label>
                    <input type="text" id="morning-end" class="timepicker" placeholder="Select time" name="morning_end" value="{{ morning_end }}">
                </div>
                <div class="time-slot">
                    <label for="afternoon-start" style="font-weight: bold;">Afternoon Start: </label>
                    <input type="text" id="afternoon-start" class="timepicker" placeholder="Select time" name="afternoon_start" value="{{ afternoon_start }}">
                    <label for="afternoon-end" style="font-weight: bold;">Afternoon End: </label>
                    <input type="text" id="afternoon-end" class="timepicker" placeholder="Select time" name="afternoon_end" value="{{ afternoon_end }}">
                </div>
            </div>

            <div id="btn-container">
                <button id="edit-btn">Edit</button>
                <button id="save-btn" type="submit">Save</button>
                <button id="cncl-btn">Cancel</button>
                <!-- <button id="save-btn" style="display: none;">Save</button>
                <button id="cncl-btn" style="display: none;">Cancel</button> -->
            </div>
        </form>

    </div>

</div>

<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    flatpickr('.timepicker', {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: false
    });
</script>
<script src="{% static 'js/appointment.js' %}"></script>
{% endblock %}
