{% extends 'hmis/base.html' %}
{% load static %}

{% block title %}Appointment{% endblock %}

{% block styles %} 
<!-- Stylesheet for the program -->
<link rel="stylesheet" href="{% static 'css/style-appointment.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

{% endblock styles %}

{% block content %}
<div id="whole-screen">
    <div id="side-menu">
        <div id="all-info">
            <div id="user-info"> 
                <div id = "image">
                    <img src="{% static 'logo-color.png' %}" id = "display-photo">
                </div>
                <div id="information">
                    {% for doctor_id, doctor_data in doctors.items %}
                        {% if doctor_data.uid == uid %}
                            <div id="name"> {{ doctor_data.fname }} {{ doctor_data.lname }}</div>
                            <div id="role"> {{ doctor_data.specialization}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="menu"> 
                <div id="a1"><i class="fas fa-tachometer-alt"></i> <a href="{% url 'DoctorDashboard' %}">Dashboard</a></div>
                <div id="a2" style="font-weight: bold;"> <i class="far fa-calendar-alt"></i> <a href="{% url 'AppointmentUpcoming' %}">Appointments</a></div>
                <div id="a3"><i class="fas fa-user"></i> <a href="{% url 'patient_data_doctor_view' %}">Patients</a></div>
                <div id="a5"><i class="far fa-envelope"></i> <a href="">Message</a></div>
                <div id="a6"><i class="far fa-user-circle"></i> <a href="">Profile</a></div>
                <div id="a7"><i class="fas fa-cog"></i> <a href="">Settings</a></div>
                <div id="a4"><i class="fas fa-sign-out-alt"></i> <a href="{% url 'logout' %}"> Logout</a></div>
            </div>
        </div>
    </div>
    <div id="appointment-screen">
        <div class="apt-header-btns">
            <div class="apt-header-left">
                <div id="apt-btn"><a href="AppointmentCalendar.html">Calendar</a></div>
                <div id="apt-btn" style="font-weight: bold;"><a href="AppointmentUpcoming.html">Upcoming</a></div>
                <div id="apt-btn"><a href="AppointmentPast.html">Past</a></div>
                <div id="apt-btn"><a href="AppointmentScheduling.html">Schedule</a></div>
            </div>
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Search...">
                <button id="searchButton">Search</button>
            </div>
        </div>
        <table class="clients_table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Visit Type</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                {% if appointments %}
                {% for appointment_id, appointment_data in appointments.items %}
                <tr>
                    <td><label class="accountT_lbl">{{ appointment_data.appointmentDate }}</label></td>
                    <td><label class="accountT_lbl">{{ appointment_data.appointmentTime }}</label></td>
                    {% for patient_id, patient_data in patients.items %}
                        {% if patient_data.uid == appointment_data.patientName %}
                            <td><label class="accountT_lbl"><a href="{% url 'patient_personal_information_inpatient' %}?chosenPatient={{patient_data.uid}}&appointmentID={{appointment_id}}">{{ patient_data.lname }}, {{ patient_data.fname }}</a></label></td>
                        {% endif %}
                    {% endfor %}
                    <td><label class="accountT_lbl">{{ appointment_data.appointmentVisitType }}</label></td>
                    <td><label class="accountT_lbl"><a href="#" class="details-link" >Click for More Details</a></label>
                    {% for patient_id, patient_data in patients.items %}
                        {% if appointment_data.patientName == patient_data.uid  %}
                                <div class="details-container" style="display: none;">
                                    <div class="detail-wrapper">
                                        <div class="detailname" style="font-weight: bold;">E-mail: </div>
                                        <div class="detailvalue">{{ patient_data.email }}</div>
                                    </div>
                                    <div class="detail-wrapper">
                                        <div class="detailname" style="font-weight: bold;">Phone Number: </div>
                                        <div class="detailvalue">{{ patient_data.cnumber }}</div>
                                    </div>
                                    <div class="detail-wrapper">
                                        <div class="detailname" style="font-weight: bold;">Location: </div>
                                        <div class="detailvalue">{{ patient_data.address}}</div>
                                    </div>
                                    <div class="button-container">
                                        <button class="reschedule-button" onclick="openModal('{{ appointment_id }}')">Reschedule</button>
                                        <button class="message-button" onclick="window.location.href = 'Message.html';">Message</button>
                                        <form action="{% url 'delete_appointment' %}" method="post">
                                            {% csrf_token %}
                                            <button type="submit" class="cancel-button" onclick="cancelAppointment()" name='cancel' value={{ appointment_id }}>Cancel Appointment</button>
                                        </form>
                                    </div>
                                </div>
                        {% endif %}
                    {% endfor %}
                    </td>    
                       
                    <div id="myModal" class="modal">
                        <div class="modal-content">
                            <span class="close">&times;</span>
                            <h2>Reschedule Appointment</h2>
                            <form id="reschedule-form" method="post" action="{% url 'update_appointment' %}">
                                {% csrf_token %}
                                <label for="new-appointment-date">New Date:</label>
                                <input type="date" id="new-appointment-date" name="new-appointment-date" min="" required><br>
                                <label for="new-appointment-time">New Time:</label>
                                <select id="new-appointment-time" name="new-appointment-time"></select><br>
                                <button type="submit" id="appID" name="appID" value={{ appointment_id }}>Submit</button>
                            </form>
                        </div>
                    </div>
                       
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
