{%load static%}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Patient Data{% endblock %}</title>
    <!-- plugins:css -->
     
    {% block styles%} 
    <link rel="stylesheet" href="{% static 'assets/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/select.dataTables.min.css' %}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <style>
      .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .modal-content {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
      }

      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
      }

      .detail-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      
      .detailname {
        margin-right: 4px; 
      }
    </style>
    <!-- endinject -->
    <link rel="stylesheet" href="{% static 'assets/images/favicon.png' %}">
    {% endblock styles%}
  </head>

  {% block content %}
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <div class="me-3">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
              <span class="icon-menu"></span>
            </button>
          </div>
          <div>
            <b>MediMatrix</b>
          </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
          <ul class="navbar-nav">
            <li class="nav-item fw-semibold d-none d-lg-block ms-0">
              <h1 class="welcome-text">Good Morning, <span class="text-black fw-bold">John Doe</span></h1>
              <h3 class="welcome-sub-text">Your performance summary this week </h3>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown d-none d-lg-block">
              <a class="nav-link dropdown-bordered dropdown-toggle dropdown-toggle-split" id="messageDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false"> Filter Appointments </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="messageDropdown">
                <a class="dropdown-item py-3" href="javascript:void(0);" onclick="filterTable('all')">
                  <p class="mb-0 fw-medium float-start">Show All</p>
                </a>
                
                <div class="dropdown-divider"></div>
                {% for doctors_id, doctors_data in doctors.items %}
                  {% for doctorClinic in doctors_data.clinic %}
                    {% for clinic_id, clinic_data in clinics.items%}
                      {% if clinic_id == doctorClinic %}
                        <a class="dropdown-item preview-item" href="javascript:void(0);" onclick="filterTable('{{ clinic_id }}')">
                          <div class="preview-item-content flex-grow py-2">
                            <p class="preview-subject ellipsis fw-medium text-dark">{{ clinic_data.name }}</p>
                            <p class="fw-light small-text mb-0">{{ clinic_data.address }}</p>
                            <p class="fw-light small-text mb-0">{{ clinic_data.onumber }}</p>
                          </div>
                        </a>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}
                {% endfor %}
              </div>
            </li>
            {% comment %} Notifs {% endcomment %}
            <li class="nav-item dropdown">
              <a class="nav-link count-indicator" id="notificationDropdown" href="#" data-bs-toggle="dropdown">
                <i class="icon-bell"></i>
                <span class="count"></span>
              </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list pb-0" aria-labelledby="notificationDropdown">
                <a class="dropdown-item py-3 border-bottom">
                  <p class="mb-0 fw-medium float-start">You have 4 new notifications </p>
                  <span class="badge badge-pill badge-primary float-end">View all</span>
                </a>
                <a class="dropdown-item preview-item py-3">
                  <div class="preview-thumbnail">
                    <i class="mdi mdi-alert m-auto text-primary"></i>
                  </div>
                  <div class="preview-item-content">
                    <h6 class="preview-subject fw-normal text-dark mb-1">Emilia Johnson sent back results</h6>
                    <p class="fw-light small-text mb-0"> Just now </p>
                  </div>
                </a>
              </div>
            </li>
            
            <li class="nav-item dropdown d-none d-lg-block user-dropdown">
              <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle" src="{% static 'doctorjohn.jpg' %}" alt="Profile image"> </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  {% for doctor_id, doctor_data in doctors.items %}
                        {% if doctor_data.uid == uid %}
                            <p class="mb-1 mt-3 fw-semibold">{{ doctor_data.fname }} {{ doctor_data.lname }}</p>
                            <p class="fw-light text-muted mb-0">{{ doctor_data.email }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'DoctorDashboard' %}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item nav-category">Menu</li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-floor-plan"></i>
                <span class="menu-title">Appointments</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'AppointmentCalendar' %}">Calendar</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'AppointmentUpcoming' %}">Upcoming</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'AppointmentPast' %}">Past</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'AppointmentScheduling' %}">Schedule</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Patients</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url 'patient_data_doctor_view' %}">All</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <div class="main-panel">
            <div class="content-wrapper">
              <div class="row">
                
                <div class="col-lg-12 grid-margin stretch-card">
                  <div class="card">
                    <div class="card-body">
                      <h4 class="card-title">Upcoming Appointments</h4>
                      <p class="card-description"> View your upcoming appointments
                      </p>
                      <div class="table-responsive">
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th>Date</th>
                              <th>Time</th>
                              <th>Patient Name</th>
                              <th>Visit Type</th>
                              <th>Clinic</th>
                              <th>Actions</th>
                              <th>Status</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% if appointments %}
                              {% for appointment_id, appointment_data in appointments.items %}
                                <tr>
                                  <form method="post" >
                                    {% csrf_token %}
                                    <input type="hidden" name="selected_appointment_date" value="{{ appointment_data.appointmentDate }}">
                                    <td name="selected_appointment_date">{{ appointment_data.appointmentDate }}</td>
                                  </form>

                                  <td>{{ appointment_data.appointmentTime }}</td>

                                  {% for patient_id, patient_data in patients.items %}
                                      {% if patient_data.uid == appointment_data.patientName %}
                                          <td><a href="{% url 'patient_personal_information_inpatient' %}?chosenPatient={{patient_data.uid}}&appointmentID={{appointment_id}}">{{ patient_data.lname }}, {{ patient_data.fname }}</a></td>
                                      {% endif %}
                                  {% endfor %}

                                  <td>{{ appointment_data.appointmentVisitType }}</td>

                                  <form method="post">
                                    {% csrf_token %}
                                    {% for clinic_id, clinic_data in clinics.items%}
                                      {% if clinic_id == appointment_data.clinic %}
                                      
                                        <input type="hidden" name="clinic_uid" value="{{ appointment_data.clinic }}">
                                        <td name="clinic_uid">{{ clinic_data.name }}</td>
                                      {% endif %}
                                    {% endfor %}
                                  </form>

                                  <td>
                                    <button type="button" class="openModalBtn btn btn-primary btn-sm">Click for More Actions</button>
                                    <div class="myModal modal">
                                      <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <i class="fa-regular fa-circle-check"></i>
                                        <h2 style="margin-bottom: 20px;">Patient Contact Information</h2>
                                        {% for patient_id, patient_data in patients.items %}
                                          {% if patient_data.uid == appointment_data.patientName %}
                                            <div class="detail-wrapper">
                                              <div class="detailname" style="font-weight: bold;">E-mail: </div>
                                              <div class="detailvalue">{{ patient_data.email }}</div>
                                            </div>
                                            <div class="detail-wrapper">
                                              <div class="detailname" style="font-weight: bold;">Phone Number: </div>
                                              <div class="detailvalue">{{ patient_data.cnumber }}</div>
                                            </div>
                                            <div class="detail-wrapper">
                                              <div class="detailname" style="font-weight: bold;">Location: </div>
                                              <div class="detailvalue">{{ patient_data.address}}</div>
                                            </div>
                                          {% endif %}
                                        {% endfor %} 


                                        <h2 style="margin-top: 20px; margin-bottom: 20px;">Reschedule Appointment</h2>
                                        <form id="reschedule-form{{ appointment_id }}" method="POST" action="{% url 'update_appointment' %}">
                                          {% csrf_token %}
                                          <div class="detail-wrapper">
                                            <div class="detailname" style="font-weight: bold;">Clinic: </div>
                                            <div class="dropdown">
                                              <button class="btn btn-info btn-sm dropdown-toggle" type="button" id="dropdownMenuSizeButton3" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                {% for clinic_id, clinic_data in clinics.items%}
                                                  {% if clinic_id == appointment_data.clinic %}
                                                    {{ clinic_data.name }}
                                                  {% endif %}
                                                {% endfor %}
                                              </button>
                                              
                                              <div class="dropdown-menu" aria-labelledby="dropdownMenuSizeButton3">
                                                {% for doctors_id, doctors_data in doctors.items %}
                                                  {% for doctorClinic in doctors_data.clinic %}
                                                    {% for clinic_id, clinic_data in clinics.items%}
                                                      {% if clinic_id == doctorClinic %}
                                                          <div class="preview-item-content flex-grow py-2">
                                                            <input type="hidden" name="clinic_uid" value="{{ appointment_data.clinic }}">
                                                            <a class="dropdown-item" href="#">{{ clinic_data.name }}</a>
                                                          </div>
                                                      {% endif %}
                                                    {% endfor %}
                                                  {% endfor %}
                                                {% endfor %}
                                              </div>
                                            </div>
                                          </div>
                                          <div class="detail-wrapper">
                                            <div class="detailname" style="font-weight: bold;">Suggested Schedule: </div>
                                            <input type="text" id="selected_appointment_date" name="selected_appointment_date" value={{ next_available_date_str }} style="font-size: 14px; padding: 8px; border: 1px solid #ccc; border-radius: 4px;"></input>
                                          </div>
                                          <div class="detail-wrapper">
                                            <div class="detailname" style="font-weight: bold;">Suggested Time: </div>
                                            <select id="new_appointment_time" name="new_appointment_time" style="padding: 8px; border: 1px solid #ccc; border-radius: 4px;">
                                              {% for time_slot in time_slots %}
                                                  <option value="{{ time_slot }}">{{ time_slot }}</option>
                                              {% endfor %}
                                            </select><br>
                                          </div>
                                          <button type="submit" class="appID btn btn-primary btn-sm" name="appID" value="{{ appointment_id }}">Submit Request to Patient</button>
                                        </form>

                                        <h2 style="margin-top: 20px; margin-bottom: 20px;">Cancel Appointment</h2>
                                        <form action="{% url 'delete_appointment' %}" method="post">
                                          {% csrf_token %}
                                          <button type="submit" class="btn btn-primary btn-sm" onclick="cancelAppointment()" name='cancel' value={{ appointment_id }}>Cancel Appointment</button>
                                        </form>

                                      </div>
                                    </div>
                                  </td>
                                  
                                  <td><label class="badge badge-danger">Pending</label></td>
                                  
                                </tr>
                              {% endfor %}
                            {% else %}
                              <td colspan="7" style="text-align: center;">No upcoming appointments!</td>
                            {% endif %}

                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
        </div>
      </div>
    </div>
    {% comment %} <script src="{% static 'js/appointment.js' %}"></script> {% endcomment %}

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        document.body.addEventListener('click', function (event) {
          // Open modal button clicked
          if (event.target.classList.contains('openModalBtn')) {
            var modal = event.target.nextElementSibling;
            modal.style.display = 'block';
          }
    
          // Close modal button clicked
          if (event.target.classList.contains('close')) {
            var modal = event.target.closest('.modal');
            modal.style.display = 'none';
          }
    
          // Submit appointment reschedule button clicked
          if (event.target.classList.contains('appID')) {
            alert('Appointment rescheduled successfully!');
          }
        });
    
        // Close modal if clicked outside the content
        window.addEventListener('click', function (event) {
          if (event.target.classList.contains('myModal')) {
            event.target.style.display = 'none';
          }
        });
      });
    </script>
    

    <script>
      function filterTable(clinicId) {
          var tableRows = document.querySelectorAll('tbody tr');
          if (clinicId === 'all') {
              tableRows.forEach(function(row) {
                  row.style.display = '';
              });
          } else {
              tableRows.forEach(function(row) {
                  var rowClinicId = row.getAttribute('data-clinic-id');
                  if (rowClinicId === clinicId) {
                      row.style.display = '';
                  } else {
                      row.style.display = 'none';
                  }
              });
          }
      }
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('appID').addEventListener('click', function () {
                alert('Appointment rescheduled successfully!');
            });
        });
    </script>
    
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>

</body>
{% endblock %}