{%load static%}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'logo-color.png' %}">
    <title>{% block title %}My Schedule{% endblock %}</title>
     
    {% block styles%} 
    <link rel="stylesheet" href="{% static 'assets/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/select.dataTables.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/images/favicon.png' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">

    <style>
      #day-selection, #time-selection, #btn-container {
        margin: 20px;
      }
      
      #day-selection, #time-selection, #btn-container{
        margin-left: 5px;
      }
      
      .day-checkboxes {
        margin-top: 10px;
        margin-bottom: 10px;
        display: flex; 
      }
      
      .day-checkbox input[type="checkbox"] {
        display: none;
      }
      
      .day-checkbox label {
        display: inline-block;
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        margin-right: 5px;
      }
      
      .day-checkbox input[type="checkbox"]:checked + label {
        background-color: #334a7c;
        color: #fff;
      }
    </style>

    {% endblock styles%}
  </head>

{% block content %}
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {% include "../partials/_appblanknavbar.html" %}

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        {% include "../partials/_sidebar.html" %}

        <div class="main-panel">

          <div class="content-wrapper">
            {% if messages %}
                      <div class="alert-messages">
                        {% for message in messages %}
                          <div class="alert alert-{{ message.tags }}">
                            {{ message }}
                          </div>
                        {% endfor %}
                      </div>
                    {% endif %}
            <div class="row">
              {% for doctors_id, doctors_data in doctors.items %}
                {% if doctors_data.clinic %}
                  {% for doctorClinic in doctors_data.clinic %}
                    {% for clinic_id, clinic_data in clinics.items %}
                      {% if clinic_id == doctorClinic and doctors_id == uid %}
                        <div class="col-12 grid-margin stretch-card">
                          <div class="card">
                            <div class="card-body">
                              <h4 class="card-title">{{ clinic_data.name }}</h4>
                              <p class="card-description">{{ clinic_data.address }}</p>
                              <p class="card-description">{{ clinic_data.onumber }}</p>
                              <form method="post" action="{% url 'AppointmentScheduling' %}">
                                {% csrf_token %}
                                <input type="hidden" name="clinic" value="{{ clinic_id }}">
                                <label style="font-weight: bold;">Select Days:</label>
                                <div class="day-checkboxes">
                                  {% for day in days_of_week %}
                                    <div class="day-checkbox">
                                      <input type="checkbox" id="{{ day }}_{{ clinic_id }}" name="selected_days_{{ clinic_id }}" value="{{ day }}"
                                      {% for schedule in clinic_schedules %}
                                        {% if schedule.clinic_id == clinic_id and day in schedule.selected_days %}checked{% endif %}
                                      {% endfor %}>
                                      <label for="{{ day }}_{{ clinic_id }}">{{ day|capfirst }}</label>
                                    </div>
                                  {% endfor %}
                  </div>
                  <div class="time-slot" style="padding: 5px;">
                    <label for="morning-start_{{ clinic_id }}" style="font-weight: bold;">Morning Start:&emsp;</label>
                    <input type="text" id="morning-start_{{ clinic_id }}" class="timepicker" placeholder="Select time" name="morning_start_{{ clinic_id }}"
                          value="{% for schedule in clinic_schedules %}{% if schedule.clinic_id == clinic_id %}{{ schedule.morning_start }}{% endif %}{% endfor %}">
                    &emsp;<label for="morning-end_{{ clinic_id }}" style="font-weight: bold;">Morning End:&emsp;</label>
                    <input type="text" id="morning-end_{{ clinic_id }}" class="timepicker" placeholder="Select time" name="morning_end_{{ clinic_id }}"
                          value="{% for schedule in clinic_schedules %}{% if schedule.clinic_id == clinic_id %}{{ schedule.morning_end }}{% endif %}{% endfor %}">
                  </div>
                  <div class="time-slot" style="padding: 5px;">
                    <label for="afternoon-start_{{ clinic_id }}" style="font-weight: bold;">Afternoon Start:&nbsp</label>
                    <input type="text" id="afternoon-start_{{ clinic_id }}" class="timepicker" placeholder="Select time" name="afternoon_start_{{ clinic_id }}"
                          value="{% for schedule in clinic_schedules %}{% if schedule.clinic_id == clinic_id %}{{ schedule.afternoon_start }}{% endif %}{% endfor %}">
                    &emsp;<label for="afternoon-end_{{ clinic_id }}" style="font-weight: bold;">Afternoon End:</label>
                    <input type="text" id="afternoon-end_{{ clinic_id }}" class="timepicker" placeholder="Select time" name="afternoon_end_{{ clinic_id }}"
                          value="{% for schedule in clinic_schedules %}{% if schedule.clinic_id == clinic_id %}{{ schedule.afternoon_end }}{% endif %}{% endfor %}">
                  </div>
                  <button id="save-btn" style="font-weight: bold; font-size: 15px;" value="{{ clinic_id }}" type="submit" class="btn btn-primary btn-sm" name="clinic"><i class="ti-file btn-icon-prepend"></i> Save</button>
                </form>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    {% endfor %}
  {% endif %}
{% endfor %}

{% if not found_clinic %}
  You have not joined any clinic yet.
{% endif %}

            </div>
          </div>
        </div>

      </div>
      <!-- page-body-wrapper ends -->
    </div>
    
    {% comment %} <script>
      document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('appID').addEventListener('click', function () {
          alert('Appointment rescheduled successfully!');
        });
      });
    </script> {% endcomment %}
    
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>

    <script src="{% static 'js/appointment.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
      flatpickr('.timepicker', {
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: false
      });
      document.addEventListener('DOMContentLoaded', function () {
        document.getElementById('save-btn').addEventListener('click', function () {
          //alert('New Schedule Saved!');
        });
      });
    </script>
    
  </body>
{% endblock %}