{%load static%}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'logo-color.png' %}">
    <title>{% block title %}Past Appointments{% endblock %}</title>

    {% block styles%} 
    <link rel="stylesheet" href="{% static 'assets/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/select.dataTables.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <style>
      .modal {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
      }

      .modal-content {
        width: 30%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
      }

      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 30px;
        cursor: pointer;
      }

      .detail-wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
      }
      
      .detailname {
        margin-right: 4px; 
      }
    </style>

    <link rel="stylesheet" href="{% static 'assets/images/favicon.png' %}">
    {% endblock styles%}
  </head>

{% block content %}
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {% include "../partials/_appfilternavbar.html" %}

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_sidebar.html -->
        {% include "../partials/_sidebar.html" %}

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Past Appointments</h4>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search Name" aria-label="Search Name" id="searchInput">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="searchButton">Search</button>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Patient Name</th>
                            <th>Visit Type</th>
                            <th>Clinic</th>
                            <th>Status</th>
                            <th>Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          {% if appointments %}
                            {% for appointment_id, appointment_data in appointments.items %}
                            {% if appointment_data.status == 'Finished' %}
                              <tr data-clinic-id="{{ appointment_data.clinicUID}}">
                                <td>{{ appointment_data.appointmentDate }}</td>
                                <td>{{ appointment_data.appointmentTime }}</td>

                                {% for patient_id, patient_data in patients.items %}
                                  {% if patient_data.uid == appointment_data.patientName %}
                                    <td>{{ patient_data.lname }}, {{ patient_data.fname }}</td>
                                  {% endif %}
                                {% endfor %}

                                <td>{{ appointment_data.appointmentVisitType }}</td>

                                <td>
                                  {% for clinic_id, clinic_data in clinics.items%}
                                    {% if clinic_id == appointment_data.clinicUID %}
                                      {{ clinic_data.name }}
                                    {% endif %}
                                  {% endfor %}
                                </td>

                                <td>
                                  {% if appointment_data.status == 'Finished' %}
                                    <label class="badge badge-success">Completed</label>
                                  {% comment %} {% else %}
                                    <label class="badge badge-warning">Pending</label> {% endcomment %}
                                  {% endif %}
                                </td>

                                <td> 
                                  <button type="button" class="openModalBtn btn btn-primary btn-sm">Contact Information</button>
                                    <div class="myModal modal">
                                      <div class="modal-content">
                                        <span class="close">&times;</span>
                                        <i class="fa-regular fa-circle-check"></i>
                                        <h2 style="margin-bottom: 20px;">Patient Contact Information</h2>
                                        {% for patient_id, patient_data in patients.items %}
                                          {% if patient_data.uid == appointment_data.patientName %}
                                            <div class="detail-wrapper">
                                              <div class="detailname" style="font-weight: bold;">E-mail: </div>
                                              <div class="detailvalue">{{ patient_data.email }}</div>
                                            </div>
                                            <div class="detail-wrapper">
                                              <div class="detailname" style="font-weight: bold;">Phone Number: </div>
                                              <div class="detailvalue">{{ patient_data.cnumber }}</div>
                                            </div>
                                            <div class="detail-wrapper">
                                              <div class="detailname" style="font-weight: bold;">Location: </div>
                                              <div class="detailvalue">{{ patient_data.address}}</div>
                                            </div>
                                          {% endif %}
                                        {% endfor %} 
                                      </div>
                                    </div>    
                                </td>
                              </tr>
                              {% endif %}
                            {% endfor %}
                          {% else %}
                            <td colspan="7" style="text-align: center;">No past appointments!</td>
                          {% endif %}
                        </tbody>
                      </table>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script>
      function filterTable(clinicId) {
        var tableRows = document.querySelectorAll('tbody tr');
        if (clinicId === 'all') {
          tableRows.forEach(function(row) {
            row.style.display = '';
          });
        } else {
          tableRows.forEach(function(row) {
            var rowClinicId = row.getAttribute('data-clinic-id');
            if (rowClinicId === clinicId) {
              row.style.display = '';
            } else {
              row.style.display = 'none';
            }
          });
        }
      }
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function () {
        document.body.addEventListener('click', function (event) {
          // Open modal button clicked
          if (event.target.classList.contains('openModalBtn')) {
            var modal = event.target.nextElementSibling;
            modal.style.display = 'block';
          }
    
          // Close modal button clicked
          if (event.target.classList.contains('close')) {
            var modal = event.target.closest('.modal');
            modal.style.display = 'none';
          }
    
          // Submit appointment reschedule button clicked
          if (event.target.classList.contains('appID')) {
            alert('Appointment rescheduled successfully!');
          }
        });
    
        // Close modal if clicked outside the content
        window.addEventListener('click', function (event) {
          if (event.target.classList.contains('myModal')) {
            event.target.style.display = 'none';
          }
        });
      });
    </script>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Selecting DOM elements
        const searchInput = document.getElementById('searchInput');
        const searchButton = document.getElementById('searchButton');
        const tableRows = document.querySelectorAll('.table tbody tr');
    
        // Adding event listener to search button
        searchButton.addEventListener('click', function() {
          const searchTerm = searchInput.value.trim().toLowerCase();
    
          tableRows.forEach(function(row) {
            const patientNameCell = row.querySelector('td:nth-child(3)');
            if (patientNameCell) {
              const patientName = patientNameCell.textContent.trim().toLowerCase();
              const isVisible = patientName.includes(searchTerm);
              row.style.display = isVisible ? '' : 'none';
            }
          });
        });
      });
    </script>
    
    <script>
      document.addEventListener('DOMContentLoaded', function () {
          document.getElementById('appID').addEventListener('click', function () {
              alert('Appointment rescheduled successfully!');
          });
      });
    </script>
    
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>

  </body>
{% endblock %}