{% extends 'hmis/base.html' %}
{%load static%}
{% block title %}Appointment{% endblock %}

{% block styles%} 
<!-- Stylesheet for the program -->
<link rel="stylesheet" href="{% static 'css/style-appointments.css' %}">
{% endblock styles%}

{% block content %}
<div id = "whole-screen">
    <div id = "side-menu">
        <div id = "all-info">
            <div id = "user-info"> 
                <div id = "image">
                    <img src="\static\doctorjohn.jpg" id = "display-photo">
                </div>
                <div id = "information">
                    <div id = "name"> John Doe </div>
                    <div id = "role"> General Practitioner</div>
                </div>
            </div>
            <div id = "menu"> 
                <div id = "a1"><a href="">Dashboard</a></div>
                <div id = "a3" style="font-weight: bold;"><a href="AppointmentUpcoming.html">Appointments</a></div>
                <div id = "a1"><a href="">Patients</a></div>
                <div id = "a4"><a href="">Medications</a></div>
                <div id = "a5"><a href="Message.html">Message</a></div>
                <div id = "a6"><a href="">Profile</a></div>
                <div id = "a7"><a href="">Settings</a></div>
            </div>
        </div>
    </div>
    <div id = "appointment-screen">
        <div class="apt-header-btns">
            <div class="apt-header-left">
                <div id = "apt-btn"><a href="AppointmentCalendar.html">Calendar</a></div>
                <div id = "apt-btn"><a href="AppointmentUpcoming.html">Upcoming</a></div>
                <div id = "apt-btn" style="font-weight: bold;"><a href="AppointmentPast.html">Past</a></div>
            </div>
            <div class="search-bar">
                <input type="text" id="searchInput" placeholder="Search...">
                <button id="searchButton">Search</button>
            </div>
        </div>
        <table class="clients_table">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Visit Type</th>
                    <th>Status</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label id="accountT_date" class="accountT_lbl">Appointment Date</label></td>
                    <td><label id="accountT_time" class="accountT_lbl">Appointment Time</label></td>
                    <td><label id="accountT_fullname" class="accountT_lbl">Patient Full Name</label></td>
                    <td><label id="accountT_visittype" class="accountT_lbl">Follow-Up Visit</label></td> 
                    <td><label id="accountT_status" class="accountT_lbl">Finished</label></td> 
                    <td><label id="accountT_details" class="accountT_lbl"><a href="#" id="details-link">Click for More Details</a></label>
                        <div class="details-container" style="display: none;">
                            <div class="detail-wrapper">
                                <div class="detailname" style="font-weight: bold;">E-mail: </div>
                                <div class="detailvalue">juan@gmail.com</div>
                            </div>
                            <div class="detail-wrapper">
                                <div class="detailname" style="font-weight: bold;">Phone Number: </div>
                                <div class="detailvalue">09123456789</div>
                            </div>
                            <div class="detail-wrapper">
                                <div class="detailname" style="font-weight: bold;">Location: </div>
                                <div class="detailvalue">123 Cornelia St., Sunshine City</div>
                            </div>
                            <div class="button-container">
                                <button class="notes-button">View Notes</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'js/appointment.js' %}"></script>
{% endblock %}