<!-- your_template.html -->

{% extends 'hmis/base.html' %}
{% load static %}

{% block title %}Nurse Dashboard{% endblock %}

{% block styles %} 
<!-- Stylesheet for the program -->
<link rel="stylesheet" href="{% static 'css/nurse.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

{% endblock styles %}

{% block content %}
<div id="whole-screen">
    <div id="side-menu">
        <div id="all-info">
            <div id="user-info"> 
                <div id="image">
                    <img src="{% static 'doctorjane.jpg' %}" id="display-photo">
                </div>
                <div id="information">
                    {% for nurse_id, nurse_data in nurses.items %}
                        {% if nurse_data.uid == uid %}
                            <div id="name">{{ nurse_data.fname }} {{ nurse_data.lname }}</div>
                            <div id="role">{{ nurse_data.specialization}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="menu"> 
                <div id="a1" style="font-weight: bold;"><a href="">Dashboard</a></div>
                <div id="a7"><a href="{% url 'logout' %}">Logout</a></div>
            </div>
        </div>
    </div>
    <div id="appointment-screen">
        <div id="current-date-time"></div>
        <table class="clients_table">
            <thead>
                <tr>
                    <th>Floor Number</th>
                    <th>Room Number</th>
                    <th>Assigned Nurses</th>
                </tr>
            </thead>
            <form method="post" action="{% url 'ChargeNurseDashboard' %}">
            {% csrf_token %}
                <tbody>
                    {% for room_id, room_data in rooms.items %}
                    <tr>
                        <td id = "floor">{{ room_data.fnumber }}</td>
                        <td id = "room">{{ room_data.rnumber }}</td>
                        <input type="hidden" name="roomID" value="{{ room_id }}">
                        <td>
                            <div>
                                <label>Morning: </label>
                                <select class="frequency-dropdown" name="morning_{{ room_id }}">
                                    <option value="">- Select Nurse -</option>
                                    {% for nurse_id, nurse_data in nurses.items %}
                                        {% if nurse_data.shift == 'morning' and nurse_data.specialization != 'Charge Nurse' %}
                                            <option value="{{ nurse_id }}" 
                                            {% if nurse_id == room_data.nurse_assigned.morning %} selected {% endif %}>{{ nurse_data.fname }} {{ nurse_data.lname }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select><br>
                                <label>Afternoon: </label>
                                <select class="frequency-dropdown" name="afternoon_{{ room_id }}">
                                    <option value="">- Select Nurse -</option>
                                    {% for nurse_id, nurse_data in nurses.items %}
                                        {% if nurse_data.shift == 'afternoon' and nurse_data.specialization != 'Charge Nurse'%}
                                            <option value="{{ nurse_id }}" 
                                            {% if nurse_id == room_data.nurse_assigned.afternoon %} selected {% endif %}>{{ nurse_data.fname }} {{ nurse_data.lname }}</option>
                                        {% endif %}    
                                    {% endfor %}
                                </select><br>
                                <label>Graveyard: </label>
                                <select class="frequency-dropdown" name="graveyard_{{ room_id }}">
                                    <option value="">- Select Nurse -</option>
                                    {% for nurse_id, nurse_data in nurses.items %}
                                        {% if nurse_data.shift == 'graveyard' and nurse_data.specialization != 'Charge Nurse' %}
                                            <option value="{{ nurse_id }}" 
                                            {% if nurse_id == room_data.nurse_assigned.graveyard %} selected {% endif %}>{{ nurse_data.fname }} {{ nurse_data.lname }}</option>
                                        {% endif %}
                                    {% endfor %}
                                </select><br>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
                <button class="save-button" type="submit">Save</button>
            </form>
        </table>
    </div>
</div>
<script src="{% static 'js/nurse.js' %}"></script>

<script>
    // JavaScript code to display current date and time
    function displayDateTime() {
        var currentDate = new Date();
        var dateTimeString = currentDate.toLocaleString();
        document.getElementById('current-date-time').innerText = "Current Date and Time: " + dateTimeString;
    }

    // Call the function initially and update every second
    displayDateTime();
    setInterval(displayDateTime, 1000);
</script>
{% endblock %}
