{% extends 'hmis/base.html' %}
{%load static%}
{% block title %}Dashboard{% endblock %}

{% block styles%} 
<!-- Stylesheet for the program -->
<link rel="stylesheet" href="{% static 'css/style-usermanagement.css' %}">
{% endblock styles%}

{% block content %}
<!---->
<div id = "whole-screen">
    <div id = "side-menu">
        <div id = "user-info"> 
            <div id = "information">
                <div id ="user_admin" class="admin_lbl"> ADMIN </div>
            </div>
        </div>
        <div id = "menu"> 
            <div id = "a1"><a href="{% url 'dashboard' %}">Dashboard</a></div>
            <div id = "a2"><a href="{% url 'register' %}">Create Account</a></div>
        </div>
    </div>
</div>

<div class="admin-screen">
    <div class="search-bar">
        <input type="text" id="searchInput" placeholder="Search...">
        <button id="searchButton">Search</button>
    </div>

    <div class="button-bar">
        <button id="allButton">All</button>
        <button id="doctorsButton">Doctors</button>
        <button id="nursesButton">Nurses</button>
    </div>
    
    <table class="accounts_table">
        <thead>
            <tr>
                <th>Email</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Birthday</th>
                <th>Sex</th>
                <th>Role</th>
                <th>Department</th>
                <th>Job Title</th>
            </tr>
        </thead>
        <tbody>
            {% for account_id, account_data in accounts.items %}
            <tr>
                <td><label id="accountT_email" class="accountT_lbl">{{ account_data.email }}</label></td>
                <td><label id="accountT_firstname" class="accountT_lbl">{{ account_data.fname }}</label></td>
                <td><label id="accountT_lastname" class="accountT_lbl">{{ account_data.lname }}</label></td>
                <td><label id="accountT_birthday" class="accountT_lbl">{{ account_data.birthday }}</label></td>
                {% if account_data.sex == 'Male' %}
                    <td><label id="accountT_sex" class="accountT_lbl">M</label></td>
                {% else %}
                    <td><label id="accountT_sex" class="accountT_lbl">F</label></td>
                {% endif %}
                <td><label id="accountT_role" class="accountT_lbl">{{ account_data.role }}</label></td>
                <td><label id="accountT_department" class="accountT_lbl">{{ account_data.department }}</label></td>
                <td><label id="accountT_jobTitle" class="accountT_lbl">{{ account_data.jobTitle }}</label></td>
            </tr>
            
            {% endfor %}
            
        </tbody>
    </table>

    <div class="container">
        <a class="previous">&#8249; Previous</a>
        <a class="next">Next &#8250;</a>
    </div>
</div>

<script src="{% static 'js/dashboard.js' %}"></script>
{% endblock %}

