{%load static%}
<title>{% block title %}Patient Data{% endblock %}</title>

{% block styles%} 
<link rel="stylesheet" href="{% static 'css/lab-reports.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock styles%}

{% block content %}

<div id = "whole-screen">
    <div id = "side-menu">
        <div id = "all-info">
            <div id = "user-info"> 
                <div id = "image">
                    <img src="{% static 'logo-color.png' %}" id = "display-photo">
                </div>
                <div id = "information">
                    <div id = "name"> Jeonghan </div>
                    <div id = "role"> General Practitioner</div>
                </div>
            </div>
            <div id="menu"> 
                <div id="a1"><i class="fas fa-tachometer-alt"></i> <a href="">Dashboard</a></div>
                <div id="a2"><i class="far fa-calendar-alt"></i> <a href="">Appointments</a></div>
                <div id="a3" style="font-weight: bold;"><i class="fas fa-user"></i> <a href="{% url 'patient_data_doctor_view' %}">Patients</a></div>
                <div id="a5"><i class="far fa-envelope"></i> <a href="">Message</a></div>
                <div id="a6"><i class="far fa-user-circle"></i> <a href="">Profile</a></div>
                <div id="a7"><i class="fas fa-cog"></i> <a href="">Settings</a></div>
            </div>
        </div>
    </div>
    <div id = "other-side">
        <div id = "title">
            <div id = "left">
                <button id="backButton">Back</button>
            </div>
        </div>
        <div id = "lab-reports">
            <div id = "head-corner">Patient Information</div>
            <div id = "patient-information">
                <div id = "first">
                    <div id = "fname">Juanita</div>
                    <div id = "fname-label">First Name</div>
                </div>
                <div id = "last">
                    <div id = "lname">Dela Cruz</div>
                    <div id = "lname-label">Last Name</div>
                </div>
                <div id = "gender">
                    <div id = "gender-view">Female</div>
                    <div id = "gender-label">Gender</div>
                </div>
                <div id = "bday">
                    <div id = "birthday">01/03/2003</div>
                    <div id = "bday-label">Date of Birth</div>
                </div>
                <div id = "age">
                    <div id = "age-view">21</div>
                    <div id = "age-label">Age</div>
                </div>
            </div>
            <div id = "head">Lab Test Reports</div>
            <div id = "lab-tests">
                <div id = "lab-reports-list">
                    <table id = "reports-table">
                        <tr id = "label">
                            <th class="date">Date</th>
                            <th class="type">Lab Test Type</th>
                            <th class="report">Report</th>
                            <th class="note">Doctor's Notes</th>
                        </tr>
                        <tr>
                            <td>January 10, 2020</td>
                            <td>Blood Test</td>
                            <td><a href = "" id = "download-reports">Download Results</a></td>
                            <td id = "notes">
                                <div id = "doctor-notes">notes blah blnhwejkf iwjdhwne ijopwj ojefnw ah blah</div>
                                <div id = "add-notes"><a href = "" id = "add-doctor-notes">Add Notes</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td>January 10, 2020</td>
                            <td>Blood Test</td>
                            <td><a href = "" id = "download-reports">Download Results</a></td>
                            <td id = "notes">
                                <div id = "doctor-notes">notes blah blnhwejkf iwjdhwne ijopwj ojefnw ah blah</div>
                                <div id = "add-notes"><a href = "" id = "add-doctor-notes">Add Notes</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td>January 10, 2020</td>
                            <td>Blood Test</td>
                            <td><a href = "" id = "download-reports">Download Results</a></td>
                            <td id = "notes">
                                <div id = "doctor-notes">notes blah blnhwejkf iwjdhwne ijopwj ojefnw ah blah</div>
                                <div id = "add-notes"><a href = "" id = "add-doctor-notes">Add Notes</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td>January 10, 2020</td>
                            <td>Blood Test</td>
                            <td><a href = "" id = "download-reports">Download Results</a></td>
                            <td id = "notes">
                                <div id = "doctor-notes">notes blah blnhwejkf iwjdhwne ijopwj ojefnw ah blah</div>
                                <div id = "add-notes"><a href = "" id = "add-doctor-notes">Add Notes</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td>January 10, 2020</td>
                            <td>Blood Test</td>
                            <td><a href = "" id = "download-reports">Download Results</a></td>
                            <td id = "notes">
                                <div id = "doctor-notes">notes blah blah blah</div>
                                <div id = "add-notes"><a href = "" id = "add-doctor-notes">Add Notes</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td>January 10, 2020</td>
                            <td>Blood Test</td>
                            <td><a href = "" id = "download-reports">Download Results</a></td>
                            <td id = "notes">
                                <div id = "doctor-notes">notes blah blah blah</div>
                                <div id = "add-notes"><a href = "" id = "add-doctor-notes">Add Notes</a></div>
                            </td>
                        </tr>
                        <tr>
                            <td>January 10, 2020</td>
                            <td>Blood Test</td>
                            <td><a href = "" id = "download-reports">Download Results</a></td>
                            <td id = "notes">
                                <div id = "doctor-notes">notes blah blah blah</div>
                                <div id = "add-notes"><a href = "" id = "add-doctor-notes">Add Notes</a></div>
                            </td>
                        </tr>
                    </table>
                    <div class="pagination">
                        <a href="#">&laquo;</a>
                        <a href="#" class="active">1</a>
                        <a href="#">&raquo;</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const backButton = document.getElementById('backButton');

        backButton.addEventListener('click', function() {
            window.history.back();
        });
    });
</script>
{% endblock %}