
{%load static%}
<title>{% block title %}Family History{% endblock %}</title>

{% block styles%} 
<link rel="stylesheet" href="{% static 'css/edit_family_history.css' %}">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    #drug-history-table {
        width: 80%;
        margin: auto;
    }
    
    #head {
        font-size: 20px;
        margin-bottom: 20px;
        text-align: center; /* Align the text to the center */
    }
    
    #table-header {
        display: flex;
        justify-content: space-around;
        background-color: #f0f0f0;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }
    
    #table-header div {
        flex: 1;
        text-align: center;
    }
    
    #table-body {
        display: flex;
        justify-content: space-around;
        border-bottom: 1px solid #ccc;
        padding: 10px 0;
    }
    
    #table-body input {
        width: 100%;
        padding: 5px;
        box-sizing: border-box;
    }
    
    #update-with-new-order {
        text-align: center;
        margin-top: 20px;
    }
    
    #buttons-container {
        margin-bottom: 10px;
    }
    
    #add-row-link {
        text-decoration: none;
        color: blue;
    }
    
    #save-history-button {
        padding: 10px 20px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    
    #save-history-button:hover {
        background-color: #0056b3;
    }
    
</style>
{% endblock styles%}

{% block content %} 
<div id = "whole-screen">
    <div id = "side-menu">
        <div id = "all-info">
            <div id = "user-info"> 
                <div id = "image">
                    <img src="{% static 'logo-color.png' %}" id = "display-photo">
                </div>
                <div id = "information">
                    <div id = "name"> Jeonghan </div>
                    <div id = "role"> General Practitioner</div>
                </div>
            </div>
            <div id="menu"> 
                <div id="a1"><i class="fas fa-tachometer-alt"></i> <a href="">Dashboard</a></div>
                <div id="a2"><i class="far fa-calendar-alt"></i> <a href="">Appointments</a></div>
                <div id="a3" style="font-weight: bold;"><i class="fas fa-user"></i> <a href="{% url 'patient_data_doctor_view' %}">Patients</a></div>
                <div id="a5"><i class="far fa-envelope"></i> <a href="">Message</a></div>
                <div id="a6"><i class="far fa-user-circle"></i> <a href="">Profile</a></div>
                <div id="a7"><i class="fas fa-cog"></i> <a href="">Settings</a></div>
            </div>
        </div>
    </div>
    <div id = "other-side">
        <div id = "title">
            <div id = "left">
                <button id="backButton">Back</button>
            </div>
        </div>
        {% comment %} <form id="medication-form" method="post" action="{% url 'save_prescriptions' %}"> {% endcomment %}
        <form id="family-history-form" method="post">
            {% csrf_token %}
            <div id="drug-history-table">
                <div id="head">Family History</div>
                <div id="drug-history-container">
                    <div id="table-header">
                        <div style="flex: 1; text-align: center;">Member</div>
                        <div style="flex: 1; text-align: center;">Illness/es</div>
                        <div style="flex: 1; text-align: center;">Age of Diagnosis</div>
                    </div>
                    <div id="table-body">
                        <div style="flex: 1; text-align: center;"><input type="text" class="member" placeholder="Enter Family Member" name="familymember"></div>
                        <div style="flex: 1; text-align: center;"><input type="text" class="illnesses" placeholder="Enter Illness" name="illness"></div>
                        <div style="flex: 1; text-align: center;"><input type="text" class="age" placeholder="Enter Age" name="age"></div>
                    </div>
                </div>
                
                <div id="update-with-new-order">
                    <div id="buttons-container">
                        <div id="add-row"><a href="#" id="add-row-link">Add New Row</a></div>
                    </div>
                    <button id="save-history-button" type="submit">Save</button>
                </div>
            </div>
        </form> 
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        const backButton = document.getElementById('backButton');

        backButton.addEventListener('click', function() {
            window.history.back();
        });
    });
</script>
{% endblock %}