{%load static%}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'logo-color.png' %}">

    <title>{% block title %}MediMatrix Register{% endblock %}</title>
    <!-- plugins:css -->
     
    {% block styles%} 
    <link rel="stylesheet" href="{% static 'assets/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- endinject -->
    <link rel="stylesheet" href="{% static 'assets/images/favicon.png' %}">
    {% endblock styles%}
  </head>

  {% block content %}

  {%if msg%}
    <script>
        window.alert('{{msg}}');
    </script>
{% endif%}


  <body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
          <div class="content-wrapper d-flex align-items-center auth px-0">
            <div class="row w-100 mx-0">
              <div class="col-lg-4 mx-auto">
                <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                  <div class="brand-logo">
                    <img src="{% static 'logo-color.png' %}" alt="logo">
                  </div>
                  <h4>Forgot your password?</h4>
                  <form method="post" action="{% url 'reset' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <input class="form-control form-control-lg" type="text" name="email-fp" id="email-fp" placeholder="Email" required>
                    </div>

                    <div class="mt-3 d-grid gap-2">
                      <button class="btn btn-block btn-primary btn-lg fw-medium auth-form-btn" id="sendlink_btn" type="submit">SEND LINK</button>
                    </div>
                    <div class="text-center mt-4 fw-light" style="font-size: 13px;"> A link will be sent to your e-mail. Please follow the instructions given to reset your password.
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <!-- content-wrapper ends -->
        </div>
        <!-- page-body-wrapper ends -->
      </div>


<script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

<script src="{% static 'assets/js/off-canvas.js' %}"></script>
<script src="{% static 'assets/js/template.js' %}"></script>
<script src="{% static 'assets/js/settings.js' %}"></script>
<script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
<script src="{% static 'assets/js/todolist.js' %}"></script>

  </body>
  {% endblock %}