{% extends 'hmis/base.html' %}
{%load static%}
{% block title %}Login{% endblock %}


{% block styles%} 
<!-- Stylesheet for the program -->
<link rel="stylesheet" href="{% static 'css/style-usermanagement.css' %}">

{% endblock styles%}

{% block content %}

<h1 class="header1">HOSPITAL MANAGEMENT INFORMATION SYSTEM</h1>
    {% if messages %}
        <ul>
            {% for message in messages %}
            <h3 class="header3">{{ message }}</h3>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="login_container">
            <label class="login_lbl"><span class="tab"></span>Email </label><label class="red-asterisk">*</label>
            <input class="login_txtbox" type="email" placeholder="Enter Email" name="email" required><br><br>
            <label class="login_lbl">Password </label><label class="red-asterisk">*</label>
            <input class="login_txtbox"type="password" placeholder="Enter Password" name="password" required><br><br>
            <button id ="login_btn" type="submit">Log In</button><br><br>
            <a href="{% url 'register' %}" id="login_fp">Create Account</a> <a href="{% url 'forgotpass' %}" id="login_fp">Forgot Password?</a><br><br>
        </div>
    </form>
{% endblock %}