{% extends 'hmis/base.html' %}

{% block title %}Login{% endblock %}
{%load static%}

{% block styles%} 
<!-- Stylesheet for the program -->
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
{% endblock styles%}

{% block content %}
    <h2>Login</h2>
    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        <label for="email">Email:</label>
        <input type="email" name="email" required><br>
        <label for="password">Password:</label>
        <input type="password" name="password" required><br>
        <button type="submit">Login</button>
    </form>
    <p>Don't have an account? <a href="{% url 'register' %}">Register</a></p>
{% endblock %}