{% extends 'hmis/base.html' %}
{%load static%}
{% block title %}Appointment{% endblock %}

{% block styles%} 
<!-- Stylesheet for the program -->
<link rel="stylesheet" href="{% static 'css/style-appointments.css' %}">
<link rel="stylesheet" href="{% static 'css/css.css' %}">
{% endblock styles%}

{% block content %}

<div id = "whole-screen">
    <div id = "side-menu" style="background-color: #334a7c;">
        <div id = "all-info">
            <div id = "user-info"> 
                <div id = "image">
                    <img src="\static\doctorjohn.jpg" id = "display-photo">
                </div>
                <div id = "information">
                    <div id = "name"> John Doe </div>
                    <div id = "role"> General Practitioner</div>
                </div>
            </div>
            <div id = "menu"> 
                <div id = "a1"><a href="">Dashboard</a></div>
                <div id = "a3"><a href="AppointmentUpcoming.html">Appointments</a></div>
                <div id = "a1"><a href="">Patients</a></div>
                <div id = "a4"><a href="">Medications</a></div>
                <div id = "a5" style="font-weight: bold;"><a href="Message.html">Message</a></div>
                <div id = "a6"><a href="{% url 'Profile' %}">Profile</a></div>
                <div id = "a7"><a href="">Settings</a></div>
                <div id="a7"><a href="{% url 'logout' %}">Logout</a></div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="people-list" id="people-list">
          <div class="search">
            <input type="text" placeholder="Search" />
          </div>
          <ul class="list">
            <li class="clearfix">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" class="icon"/>
              <div class="about">
                <div class="name">David Don</div>
                <div class="status">January 2, 2023</div>
              </div>
            </li>
            
            <li class="clearfix">
              <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_02.jpg" alt="avatar" class="icon" />
              <div class="about">
                <div class="name">Melissa Jones</div>
                <div class="status">
                   January 1, 2023
                </div>
              </div>
            </li>
          </ul>
        </div>
        
        <div class="chat">
          <div class="chat-header clearfix">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />
            
            <div class="chat-about">
              <div class="chat-with">David Don</div>
              <div class="chat-num-messages"></div>
            </div>
            <i class="fa fa-star"></i>
        </div> <!-- end chat-header -->
          
          <div class="chat-history">
            
            
          </div> <!-- end chat-history -->
          
          <div class="chat-message clearfix">
            <textarea name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
                    
            <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
            <i class="fa fa-file-image-o"></i>
            
            <button>Send</button>
    
          </div> <!-- end chat-message -->
          
        </div> <!-- end chat -->
        
      </div> <!-- end container -->
    
</div>

{% endblock %}
