{%load static%}
<html>
    <title>{% block title %}Patient Data{% endblock %}</title>

{% block styles%} 
<link rel="stylesheet" href="{% static 'css/new-vital-signs-entry-style.css' %}">
{% endblock styles%}

    <body> 
        <div id = "whole-screen">
            <div id = "side-menu">
                <div id = "all-info">
                    <div id = "user-info"> 
                        <div id = "image">
                            <img src="{% static 'hannie.jpg' %}" id = "display-photo">
                        </div>
                        <div id = "information">
                            <div id = "name"> Jeonghan </div>
                            <div id = "role"> General Practitioner</div>
                        </div>
                    </div>
                    <div id = "menu"> 
                        <div id = "a1"><a href="">Dashboard</a></div>
                        <div id = "a2"><a href="">Appointments</a></div>
                        <div id = "a3" style="font-weight: bold;"><a href="{% url 'patient_data_doctor_view' %}">Patients</a></div>
                        <div id = "a4"><a href="">Medications</a></div>
                        <div id = "a5"><a href="">Message</a></div>
                        <div id = "a6"><a href="">Profile</a></div>
                        <div id = "a7"><a href="">Settings</a></div>
                    </div>
                </div>
            </div>
            <div id = "other-side">
                <div id = "back-button">
                    <a href="{% url 'patient_personal_information' %}"> << Back </a>
                </div>
                <div id = "new-vital-sign">
                    <div id = "head-corner">New Vital Signs Entry</div>
                    <div id = "patient-information">
                        <div id = "first">
                            <div id = "fname">Juanita</div>
                            <div id = "fname-label">First Name</div>
                        </div>
                        <div id = "last">
                            <div id = "lname">Dela Cruz</div>
                            <div id = "lname-label">Last Name</div>
                        </div>
                        <div id = "gender">
                            <div id = "gender-view">Female</div>
                            <div id = "gender-label">Gender</div>
                        </div>
                        <div id = "bday">
                            <div id = "birthday">01/03/2003</div>
                            <div id = "bday-label">Date of Birth</div>
                        </div>
                        <div id = "age">
                            <div id = "age-view">21</div>
                            <div id = "age-label">Age</div>
                        </div>
                    </div>
                    <div id = "head">Vital Signs</div>
                    <div id = "new-entry">
                        <div id = "side-1">
                            <div id = "temperature">
                                <div id = "temperature-label">Temperature</div>
                                <div id = "temperature-input"><input type="number" id = "temperature-text"> &nbsp;°C</div>
                            </div>
                            <div id = "blood-pressure">
                                <div id = "blood-pressure-label">Blood Pressure</div>
                                <div id = "blood-pressure-input">
                                    <input type="number" id = "blood-pressure-text-1"> &nbsp;/&nbsp; <input type="number" id = "blood-pressure-text-2">
                                </div>
                            </div>
                            <div id = "pulse">
                                <div id = "publse-label">Pulse</div>
                                <div id = "pulse-input"><input type="number" id = "pulse-text">&nbsp;bpm</div>
                            </div>
                        </div>
                        <div id = "side-2">
                            <div id = "respiration">
                                <div id = "respiration-label">Respiration</div>
                                <div id = "respiration-input"><input type = "number" id = "respiration-text"></div>
                            </div>
                            <div id = "pain-index">
                                <div id = "pain-index-label">Pain Index</div>
                                <div id = "pain-index-input">
                                    <select name="pain" id="pain-index-dropown">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                    </select>&nbsp;/&nbsp;10
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id = "add-entry"><a href = "{% url 'patient_personal_information' %}" id = "add-entry-button">Add Entry</a></div>
                </div>
            </div>
        </div>
    </body>
</html>