<!-- your_template.html -->

{% extends 'hmis/base.html' %}
{% load static %}

{% block title %}Nurse Dashboard{% endblock %}

{% block styles %} 
<!-- Stylesheet for the program -->
<link rel="stylesheet" href="{% static 'css/nurse.css' %}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
{% endblock styles %}

{% block content %}
<div id="whole-screen">
    <div id="side-menu" style="background-color: #334a7c;">
        <div id="all-info">
            <div id="user-info"> 
                <div id="image">
                    <img src="{% static 'doctorjane.jpg' %}" id="display-photo">
                </div>
                <div id="information">
                    {% for nurse_id, nurse_data in nurses.items %}
                        {% if nurse_data.uid == uid %}
                            <div id="name">{{ nurse_data.fname }} {{ nurse_data.lname }}</div>
                            <div id="role">{{ nurse_data.specialization}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="menu"> 
                <div id="a1" style="font-weight: bold;"><a href="">Dashboard</a></div>
                <div id="a1"><a href="">Patients</a></div>
                <div id="a4"><a href="">Medications</a></div>
                <div id="a7"><a href="{% url 'logout' %}">Logout</a></div>
            </div>
        </div>
    </div>
    <div id="appointment-screen">
        <div id="current-date-time"></div>
        
        <div id="patient-cards">
            {% for patient_id, patient_data in patients.items %}
            <div class="patient-card">
                <div class="patient-card-info">
                    <h3>Name: {{ patient_data.fname }} {{ patient_data.lname }}</h3>
                    <p>Patient ID: #{{ patient_id }}</p>
                    <p>Room Number: </p> 
                    <p>Birthday: {{ patient_data.bday }}</p>
                    <p>Gender: {{ patient_data.gender }}</p>
                </div>
                <div class="patient-card-medication">
                    <p>Medication Orders: Aspirin, 81mg, Once daily</p>
                    <div id="vital-signs-redirect" class="button">Record Vital Signs</div>
                    <button>Mark as Finished</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<script src="{% static 'js/nurse.js' %}"></script>

<script>
    // JavaScript code to display current date and time
    function displayDateTime() {
        var currentDate = new Date();
        var dateTimeString = currentDate.toLocaleString();
        document.getElementById('current-date-time').innerText = dateTimeString;
    }

    // Call the function initially and update every second
    displayDateTime();
    setInterval(displayDateTime, 1000);
</script>
{% endblock %}
