{%load static%}
<title>{% block title %}Patient Data{% endblock %}</title>

{% block styles%} 
<!-- <link rel="stylesheet" href="{% static 'css/patient_medication_style.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/view_treatment_plan.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-***" crossorigin="anonymous" />
<style>
    body {
        font-family: Arial, sans-serif;
        padding: 20px;
    }
    .prescription-pad {
        width: 600px;
        margin: 0 auto;
        border: 2px solid #000;
        padding: 20px;
        background-color: white; /* Set background color to white */
    }
    .prescription-header {
        text-align: center;
        margin-bottom: 20px;
    }
    .prescription-header h1 {
        margin: 0;
    }
    .prescription-content {
        margin-bottom: 20px;
    }
    .prescription-content p {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .prescription-content .right-aligned {
        white-space: nowrap;
    }
    .prescription-details {
        margin-bottom: 20px;
    }
    .prescription-footer {
        text-align: right;
    }
    .rx-sign {
        font-size: 24px;
        font-weight: bold;
    }
    .header {
        color: #333;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .logo {
        flex: 1;
    }
    .logo img {
        width: 50px;
        height: 50px;
        float: left;
    }
    .credentials {
        flex: 1;
    }
    .credentials h1 {
        line-height: 1em;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0px;
        padding: 0px;
    }
    .credentials h3 {
        line-height: 1em;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 5px;
        padding: 2px;
    }
    .credentials p {
        margin: 10px 0 0 0;
        padding: 1px 0px;
    }
    .credentials small {
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        padding: 80px;
    }
    .medicine p {
        margin: 5px 0;
    }
    .medicine select, .medicine input {
        margin-right: 10px;
    }
    .medicine-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .medicine-row label {
        margin-right: 10px;
    }
    .medicine-row button {
        margin-left: 10px;
    }
    .add-medicine-btn,
    .submit-medicine-btn,
    .print-medicine-btn {
        display: block;
        margin-top: 10px;
    }
    .print-only {
        display: none;
    }
    @media print {
        .print-only {
            display: block;
        }
        .add-medicine-btn,
        .remove-medicine-btn,
        .submit-medicine-btn,
        .print-medicine-btn {
            display: none;
        }
    }
    @media print {
        input[type="text"],
        select {
            border: none;
            background-color: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
</style>
{% endblock styles%}

{% block content %}
<div class = "whole-screen">
    <div id = "side-menu" style="background-color: #334a7c;">
        <div id = "all-info">
            <div id = "user-info"> 
                <div id = "image">
                    <img src="{% static 'logo-color.png' %}" id = "display-photo">
                </div>
                <div id="information">
                    {% for doctor_id, doctor_data in doctors.items %}
                        {% if doctor_data.uid == uid %}
                            <div id="name" style="font-size: 22px;"> {{ doctor_data.fname }} {{ doctor_data.lname }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="menu"> 
                <div id="a1"><i class="fas fa-tachometer-alt"></i> <a href="{% url 'DoctorDashboard' %}">Dashboard</a></div>
                <div id="a2"> <i class="far fa-calendar-alt"></i> <a href="{% url 'AppointmentUpcoming' %}">Appointments</a></div>
                <div id="a3" style="font-weight: bold;"><i class="fas fa-user"></i> <a href="{% url 'patient_data_doctor_view' %}">Patients</a></div>
                
                <div id="a4"><i class="fas fa-sign-out-alt"></i> <a href="{% url 'logout' %}"> Logout</a></div>

            </div>
        </div>
    </div>
    </div>
    <div id = "other-information">
        <div id = "title">
            <div id = "left">
                <button id="backButton">Back</button>
            </div>
        </div>
            <form method="post" enctype="multipart/form-data" action="{% url 'save_prescriptions' %}?chosenPatient={{patient_uid}}">
            {% csrf_token %}
            <div class="prescription-pad">
            <div class="header">
                <div class="credentials">
                    {% for doctor_id, doctor_data in doctors.items %}
                        {% if doctor_data.uid == uid %}
                            <h1>{{ doctor_data.fname }} {{ doctor_data.lname }}, M.D.</h1>
                            <h3>{{ doctor_data.specialization }}</h3>
                            {% for doctorClinic in doctor_data.clinic %}
                                {% for clinic_id, clinic_data in clinics.items %}  
                                    {% if clinic_data.uid == doctorClinic %}
                                        <p>{{ clinic_data.name }}</p>
                                        <small>{{ clinic_data.address }}</small><br/>
                                        <small>{{ clinic_data.onumber }}</small><br/>
                                        <small>Mb. 0XXXXXXXXX</small>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        
            <hr>
        
            <div class="prescription-content">
                {% for patientData_id, patientData_data in patientData.items %}
                <p>
                    <span><strong>Patient Name:</strong> {{ patientData_data.fname }} {{ patientData_data.lname }}</span>
                    <span><strong>Age:</strong> {{ patientData_data.age }}</span>
                    <span><strong>Gender:</strong> {{ patientData_data.gender }}</span>
                </p>
                <p>
                    <span><strong>Address:</strong> {{ patientData_data.address }} </span>
                    <span class="right-aligned"><strong>Date:</strong> {{ todaydate }} </span>
                </p>
            {% endfor %}
            </div>
        
            <br>
            <div class="logo"><img src="https://seeklogo.com/images/R/RX-logo-1057A9CD42-seeklogo.com.png" alt="Clinic Logo"/></div>
        
            <br>
            <br>
            <br>
            <br>
        
            <div class="prescription-details">
                <div id="medicine-container">
                    <div class="medicine">
                        <div class="medicine-row">
                            <label for="medicine-name"><strong>Medicine Name:</strong></label>
                            {% comment %} <input type="text" name="medicine_name"> {% endcomment %}
                            {% if disease == 'Chronic Bronchitis' %}
                                <input type="text" name="medicine_name" id="medicine_name_input" placeholder="Enter Medicine Name" list="medicine_name_suggestions">
                                        <datalist id="medicine_name_suggestions">
                                            {% for medicine in medicines_list %}
                                                <option value="{{ medicine }}">{{ medicine }}</option>
                                            {% endfor %}
                                        </datalist>
                                <label for="dosage"><strong>Dosage:</strong></label>
                                {% comment %} <select name="dosage">
                                    <option value="5mg">5mg</option>
                                    <option value="10mg">10mg</option>
                                    <option value="15mg">15mg</option>
                                    <option value="20mg">20mg</option>
                                </select> {% endcomment %}
                                <select name="dosage" id="dosage_input">
                                    <option value="" selected disabled>Select Dosage</option>
                                </select> 
                            {% else %}
                                <input type="text" name="medicine_name" id="medicine_name_input" placeholder="Enter Medicine Name" >
                                <input type="text" name="dosage" id="dosage_input" placeholder="Enter Dosage"> 
                            {% endif %}
                            <button type="button" class="remove-medicine-btn" onclick="removeMedicineRow(this)">Remove</button>
                        </div>
                        <p>
                            Sig.: take through
                            {% comment %} <select name="route">
                                <option value="oral">oral</option>
                                <option value="intravenous">intravenous</option>
                                <option value="topical">topical</option>
                                <option value="inhalation">inhalation</option>
                            </select> {% endcomment %}
                            <input type="text" name="route" id="route_input" placeholder="Enter Route Name">
                            every
                            <select id="times" name="times">
                                <option value="q.d.">q.d. (once daily)</option>
                                <option value="b.i.d.">b.i.d. (twice daily)</option>
                                <option value="t.i.d.">t.i.d. (three times daily)</option>
                                <option value="q.i.d.">q.i.d. (four times daily)</option>
                                <option value="q.a.m.">q.a.m. (every morning)</option>
                                <option value="q.p.m.">q.p.m. (every evening)</option>
                                <option value="q.h.s.">q.h.s. (at bedtime)</option>
                                <option value="q.o.d.">q.o.d. (every other day)</option>
                                <option value="PRN">PRN (as needed)</option>
                                <option value="AC">AC (before meals)</option>
                                <option value="PC">PC (after meals)</option>
                            </select><br>
                            times for 
                            <input type="text" name="days" size="2">
                            days
                            <hr>
                        </p>
                    </div>
                </div>
                <button type="button" class="add-medicine-btn" onclick="addMedicineRow()">Add Medicine</button>
                
                <button type="button" class="print-medicine-btn" onclick="window.print()">Print</button>
            </div>
        
            <div class="prescription-footer">
                {% for doctor_id, doctor_data in doctors.items %}
                    {% if doctor_data.uid == uid %}
                        <p style="font-size: 16;"> <b>Doctor's Signature: <input type='file' name='signature'></p>
                        <p style="font-size: 16;">License No.: {{ doctor_data.license }}</p>
                        <p style="font-size: 16;">PTR No.: {{ doctor_data.ptr}}</p>
                    {% endif %}
                {% endfor %}
            </div>
            </div>
            <button type="submit" class="submit-medicine-btn">Submit</button>
        </form>

            {% comment %} {% for patients_id, patients_data in patients.items %}
                {% if patients_data.uid == patient_uid %}
                    <div id = "patient-information">
                        <div id = "first">
                            <div id = "fname-label">Name of Patient</div>
                            <div id="fname">{{patients_data.fname}} {{patients_data.lname}}</div>
                        </div>
                        <div id = "gender">
                            <div id = "gender-label">Gender</div>
                            <div id = "gender-view">{{ patients_data.gender }}</div>
                        </div>
                        <div id = "bday">
                            <div id = "bday-label">Date of Birth</div>
                            <div id = "birthday-view">{{ patients_data.bday }}</div>
                        </div>
                        <div id = "age">
                            <div id = "age-label">Age</div>
                            <div id = "age-view"></div>
                        </div>   
                        
                        <div id="today">
                            <div id="today-label">Date of Prescription</div>
                        
                            <div id="today-view">{{latest_date}}</div>
                 
                        </div>
                    </div>
                {% endif %}
            {% endfor %} {% endcomment %}
            {% comment %} <form id="medication-form" method="post" action="{% url 'save_prescriptions' %}?chosenPatient={{patient_uid}}">
                {% csrf_token %}
                    <div id="medications-container">
                        <div style="margin-top: 20px; margin-bottom: 10px; font-size: 17px;" id="head">Add Medicine Here</div>
                        <div id="medication-list-container">
                            <div id="table-header" style="background-color: #334A7C; display: flex; color: white; padding: 10px; font-size: 17px; font-weight: bold;">
                                <div style="flex: 1; text-align: center;">Days</div>
                                <div style="flex: 1; text-align: center;">Medicine Name</div>
                                <div style="flex: 1; text-align: center;">Dosage</div>
                                <div style="flex: 1; text-align: center;">Route</div>
                                <div style="flex: 1; text-align: center;">Frequency</div>
                                <div style="flex: 1; text-align: center;">Additional Remarks</div>
                            </div>
                            <div id="table-body">
                                <div style="flex: 1; text-align: center;"><input type="number" name="days" id="daysInput" placeholder="Enter number of days"></div>
                                <div style="flex: 1; text-align: center;">
                                    <input type="text" name="medicine_name" id="medicine_name_input" placeholder="Enter Medicine Name" list="medicine_name_suggestions">
                                    <datalist id="medicine_name_suggestions">
                                        {% for medicine in medicines_list %}
                                            <option value="{{ medicine }}">{{ medicine }}</option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                                
                                <div style="flex: 1; text-align: center;">
                                    <select class="dosage-input" name="dosage" id="dosage_input">
                                        <option value="" selected disabled>Select Dosage</option>
                                    </select>
                                </div>
                                <div style="flex: 1; text-align: center;">
                                    <input type="text" name="route" id="route_input" placeholder="Enter Route Name">
                                </div>
                                <div>
                                    <div style="flex: 1; text-align: center;">
                                        <div style="text-align: center;">
                                            <input type="checkbox" name="times-daily[]" id="morning-checkbox" value="Morning">
                                            <label for="morning-checkbox">Morning</label>
                                        </div>
                                        <div style="text-align: center;">
                                            <input type="checkbox" name="times-daily[]" id="afternoon-checkbox" value="Afternoon">
                                            <label for="afternoon-checkbox">Afternoon</label>
                                        </div>
                                        <div style="text-align: center;">
                                            <input type="checkbox" name="times-daily[]" id="evening-checkbox" value="Evening">
                                            <label for="evening-checkbox">Evening</label>
                                        </div>
                                    </div>
                                </div>
                                <div style="flex: 1; text-align: center;"><input type="text" class="remarks-input" placeholder="Additional Remarks" name="additionalremarks" id="remarksInput"></div>
                            </div>
                        </div>
                        
                        <button class="buttons_info" id="add-medication-button" type="button">Add</button>
                    </div>
                
                <hr>
                
                <div style="margin-top: 20px; margin-bottom: 10px; margin-left: 10px; font-size: 17px;" id="head">Medicine List</div>
                <div id="medication_cart">
                    
                    <div id="medicineList" name="medicineList" style="align-items: center;"></div>
                    <input type="hidden" id="hiddenFieldsContainer" name="hiddenFieldsContainer">
                    
                    <button class="buttons_info" name="submitorders" style="margin-left: 16px;" action="{% url 'save_prescriptions' %}?chosenPatient={{patient_uid}}">Submit</button>
                    
                </div>
            </form>
                <button class="buttons_info" onclick="openModal7()" style="margin-left: 16px;">Upload Image</button>
        </div>
</div>


<div id="myModal" class="modal" style="background-color: rgba(128, 128, 128, 0.5);">
    <div class="modal-content" style="background-color: white;">
        <span class="close">&times;</span>
        <h2>Uploading Photo</h2>
        <div id="uploading-header">Upload Handwritten Image</div>
        <form id="upload-form" method="post" enctype="multipart/form-data" action="{% url 'perform_ocr' %}?chosenPatient={{patient_uid}}">
            {% csrf_token %}
          
            <div id="upload">
                <input type="file" id="file-input" name="image" style="display: none;" onchange="displayFileName(this)">
                <label for="file-input" id="file-label"><i class="fas fa-plus"></i>&nbsp; Choose Photo</label>
                <span id="selected-file"></span>
                <button id="remove-button" type="button" onclick="removeFile()" style="display: none;">Remove</button>
                {% for patients_id, patients_data in patients.items %}
                {% if patients_data.uid == patient_uid %}
                <button id="upload-button" type="submit" style="display: none;" >Upload Photo</button>
                {% endif %}
                {% endfor %}
            </div>
        </form>   
    </div>
</div> {% endcomment %}

<script src="{% static 'js/create-medication.js' %}"></script>
<script>
    function addMedicineRow() {
        const medicineContainer = document.getElementById('medicine-container');
        const medicineRow = document.createElement('div');
        medicineRow.className = 'medicine';

        medicineRow.innerHTML = `
            <div class="medicine-row">
                <label for="medicine-name"><strong>Medicine Name:</strong></label>
                <input type="text" name="medicine_name" id="medicine_name_input" placeholder="Enter Medicine Name" list="medicine_name_suggestions">
                    <datalist id="medicine_name_suggestions">
                        {% for medicine in medicines_list %}
                            <option value="{{ medicine }}">{{ medicine }}</option>
                        {% endfor %}
                    </datalist>
                <label for="dosage"><strong>Dosage:</strong></label>
                <select name="dosage" id="dosage_input">
                    <option value="" selected disabled>Select Dosage</option>
                </select>
                <button type="button" class="remove-medicine-btn" onclick="removeMedicineRow(this)">Remove</button>
            </div>
            <p>
                Sig.: take through
                <input type="text" name="route" id="route_input" placeholder="Enter Route Name">
                every
                <select id="times" name="times">
                    <option value="q.d.">q.d. (once daily)</option>
                    <option value="b.i.d.">b.i.d. (twice daily)</option>
                    <option value="t.i.d.">t.i.d. (three times daily)</option>
                    <option value="q.i.d.">q.i.d. (four times daily)</option>
                    <option value="q.a.m.">q.a.m. (every morning)</option>
                    <option value="q.p.m.">q.p.m. (every evening)</option>
                    <option value="q.h.s.">q.h.s. (at bedtime)</option>
                    <option value="q.o.d.">q.o.d. (every other day)</option>
                    <option value="PRN">PRN (as needed)</option>
                    <option value="AC">AC (before meals)</option>
                    <option value="PC">PC (after meals)</option>
                </select><br>
                times for
                <input type="text" name="days" size="2">
                days
                <hr>
            </p>
        `;

        medicineContainer.appendChild(medicineRow);
    }

    function removeMedicineRow(button) {
        button.closest('.medicine').remove();
    }
</script>
<script>
    // Retrieve pharmacy_lists from the template
    var pharmacyLists = JSON.parse('{{ pharmacy_lists|escapejs }}');
    console.log(pharmacyLists);  // Print pharmacy_lists to the console

    // Add your additional JavaScript code here
    const medicineNameInput = document.getElementById('medicine_name_input');
    const dosageInput = document.getElementById('dosage_input');
    const routeInput = document.getElementById('route_input');

    medicineNameInput.addEventListener('input', populateDosageDropdown);

    dosageInput.addEventListener('change', changeRouteDropdown);

    function populateDosageDropdown() {
        const selectedMedicine = medicineNameInput.value.trim();
        dosageInput.innerHTML = '<option value="" selected disabled>Select Dosage</option>'; // Reset dosage dropdown
        
        // Populate dosage dropdown based on selected medicine
        pharmacyLists.forEach(function(pharmacy) {
            if (pharmacy.Drug.trim() === selectedMedicine) { // Ensure consistent comparison
                const option = document.createElement('option');
                option.text = pharmacy.Strength;
                option.value = pharmacy.Strength;
                dosageInput.appendChild(option);
            }
        });

        // Trigger the change event on dosage dropdown to update the route dropdown
        dosageInput.dispatchEvent(new Event('change'));
    }

    function changeRouteDropdown() {
        const selectedStrength = dosageInput.value.trim();
        
        // Change route dropdown based on selected strength
        pharmacyLists.forEach(function(pharmacy) {
            if (pharmacy.Strength.trim() === selectedStrength) { // Ensure consistent comparison
                routeInput.value = pharmacy.Route;
            }
        });
    }
    document.addEventListener("DOMContentLoaded", function() {
        var birthdayString = document.getElementById("birthday-view").innerText;
        var birthday = new Date(birthdayString);
        var today = new Date();
        var ageYear = today.getFullYear() - birthday.getFullYear();
        var ageMonth = today.getMonth() - birthday.getMonth();
        const backButton = document.getElementById('backButton');

        // Adjust age months if negative
        if (ageMonth < 0 || (ageMonth === 0 && today.getDate() < birthday.getDate())) {
            ageYear--;
            ageMonth += 12;
        }

        document.getElementById("age-view").innerText = ageYear + " years and " + ageMonth + " months";

        backButton.addEventListener('click', function() {
            window.history.back();
        });
        
    });
</script>

{% endblock %}