{%load static%}
<title>{% block title %}Patient Data{% endblock %}</title>

{% block styles%} 
<!-- <link rel="stylesheet" href="{% static 'css/patient_medication_style.css' %}"> -->
<link rel="stylesheet" href="{% static 'css/view_treatment_plan.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-***" crossorigin="anonymous" />

{% endblock styles%}

{% block content %}
<div class = "whole-screen">
    <div id = "side-menu">
        <div id = "all-info">
            <div id = "user-info"> 
                <div id = "image">
                    <img src="{% static 'logo-color.png' %}" id = "display-photo">
                </div>
                <div id="information">
                    {% for doctor_id, doctor_data in doctors.items %}
                        {% if doctor_data.uid == uid %}
                            <div id="name"> {{ doctor_data.fname }} {{ doctor_data.lname }}</div>
                            <div id="role"> {{ doctor_data.specialization}}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id="menu"> 
                <div id="a1"><i class="fas fa-tachometer-alt"></i> <a href="{% url 'DoctorDashboard' %}">Dashboard</a></div>
                <div id="a2"> <i class="far fa-calendar-alt"></i> <a href="{% url 'AppointmentUpcoming' %}">Appointments</a></div>
                <div id="a3" style="font-weight: bold;"><i class="fas fa-user"></i> <a href="{% url 'patient_data_doctor_view' %}">Patients</a></div>
                <div id="a5"><i class="far fa-envelope"></i> <a href="">Message</a></div>
                <div id="a6"><i class="far fa-user-circle"></i> <a href="">Profile</a></div>
                <div id="a7"><i class="fas fa-cog"></i> <a href="">Settings</a></div>
                <div id="a4"><i class="fas fa-sign-out-alt"></i> <a href="{% url 'logout' %}"> Logout</a></div>

            </div>
        </div>
    </div>
    <div id = "other-information">
        <div id = "title">
            <div id = "left">
                <button id="backButton">Back</button>
            </div>
        </div>

        <div id = "treatment-plan">

            {% for patients_id, patients_data in patients.items %}
                {% if patients_data.uid == patient_uid %}
                    <div id = "patient-information">
                        <div id = "first">
                            <div id = "fname-label">Name of Patient</div>
                            <div id="fname">{{patients_data.fname}} {{patients_data.lname}}</div>
                        </div>
                        <div id = "gender">
                            <div id = "gender-label">Gender</div>
                            <div id = "gender-view">{{ patients_data.gender }}</div>
                        </div>
                        <div id = "bday">
                            <div id = "bday-label">Date of Birth</div>
                            <div id = "birthday-view">{{ patients_data.bday }}</div>
                        </div>
                        <div id = "age">
                            <div id = "age-label">Age</div>
                            <div id = "age-view"></div>
                        </div>   
                        
                        <div id="today">
                            <div id="today-label">Date of Prescription</div>
                        
                            <div id="today-view">{{latest_date}}</div>
                 
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
                <hr>
            <form id="medication-form" method="post" action="{% url 'save_prescriptions' %}?chosenPatient={{patient_uid}}">
                {% csrf_token %}
                {% comment %} {% for patients_id, patients_data in patients.items %}
                    {% if patients_data.uid == patient_uid %}
                    {% endif %}
                {% endfor %} {% endcomment %}
                <div id="medications-container">
                    <div style="margin-top: 20px;"id="head">Medications List</div>
                    <div id="medication-list-container">
                        <div id="table-header">
                            <div style="flex: 1; text-align: center;"><input type="checkbox" id="select-all-checkbox"></div>
                            <div style="flex: 1; text-align: center;">Days</div>
                            <div style="flex: 1; text-align: center;">Medicine Name</div>
                            <div style="flex: 1; text-align: center;">Dosage</div>
                            <div style="flex: 1; text-align: center;">Route</div>
                            <div style="flex: 1; text-align: center;">Frequency</div>
                            <div style="flex: 1; text-align: center;">Additional Remarks</div>
                        </div>
                        <div id="table-body">
                            <div style="flex: 1; text-align: center;"><input type="checkbox" class="remove-checkbox"></div>
                            <div style="flex: 1; text-align: center;"><input type="number" name="days"></div>
                            <div style="flex: 1; text-align: center;">
                                <input type="text" name="medicine_name" id="medicine_name_input" placeholder="Enter Medicine Name" list="medicine_name_suggestions">
                                <datalist id="medicine_name_suggestions">
                                    {% for medicine in medicines_list %}
                                        <option value="{{ medicine }}">{{ medicine }}</option>
                                    {% endfor %}
                                </datalist>
                            </div>
                            
                            <div style="flex: 1; text-align: center;">
                                <select class="dosage-input" name="dosage" id="dosage_input">
                                    <option value="" selected disabled>Select Dosage</option>
                                </select>
                            </div>
                            <div style="flex: 1; text-align: center;">
                                
                                <input type="text" name="route" id="route_input" placeholder="Enter Route Name">
                            </div>
                            <div>
                                <div style="flex: 1; text-align: center;">
                                    <div style="text-align: center;">
                                        <input type="checkbox" name="times-daily[]" id="morning-checkbox" value="Morning">
                                        <label for="morning-checkbox">Morning</label>
                                    </div>
                                    <div style="text-align: center;">
                                        <input type="checkbox" name="times-daily[]" id="afternoon-checkbox" value="Afternoon">
                                        <label for="afternoon-checkbox">Afternoon</label>
                                    </div>
                                    <div style="text-align: center;">
                                        <input type="checkbox" name="times-daily[]" id="evening-checkbox" value="Evening">
                                        <label for="evening-checkbox">Evening</label>
                                    </div>
                                </div>
                            </div>
                            <div style="flex: 1; text-align: center;"><input type="text" class="remarks-input" placeholder="Additional Remarks" name="additionalremarks"></div>
                        </div>
                    </div>
                    
                    <div id="update-with-new-order">
                        <div id="buttons-container">
                            <div id="add-medication-button"><a href="#" id="add-medication-link">Add Medication</a></div>
                            <div id="remove-medication-button"><a href="#" id="remove-medication-link">Remove Selected</a></div>
                        </div>
                        <button id="submit-medication-button" type="submit">Create Order/Prescription</button>
                    </div>
                </div>
                
            </form>
            
        </div>
</div>

<div id="myModal" class="modal">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Uploading Photo</h2>
        <div id = "uploading-header">Upload Handwritten Image</div>
        <form id="upload-form" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div id="upload">
                <input type="file" id="file-input" style="display: none;" onchange="displayFileName(this)">
                <label for="file-input" id="file-label"><i class="fas fa-plus"></i>&nbsp; Choose Photo</label>
                <span id="selected-file"></span>
                <button id="remove-button" type="button" onclick="removeFile()" style="display: none;">Remove</button>
                <button id="upload-button" type="submit" style="display: none;">Upload Photo</button>
            </div>
        </form>     
    </div>
</div>

<script src="{% static 'js/create-medication.js' %}"></script>
<script src="{% static 'js/ocr.js' %}"></script>
<script>
    // Retrieve pharmacy_lists from the template
    var pharmacyLists = JSON.parse('{{ pharmacy_lists|escapejs }}');
    console.log(pharmacyLists);  // Print pharmacy_lists to the console

    // Add your additional JavaScript code here
    const medicineNameInput = document.getElementById('medicine_name_input');
    const dosageInput = document.getElementById('dosage_input');
    const routeInput = document.getElementById('route_input');

    medicineNameInput.addEventListener('input', populateDosageDropdown);

    dosageInput.addEventListener('change', changeRouteDropdown);

    function populateDosageDropdown() {
        const selectedMedicine = medicineNameInput.value.trim();
        dosageInput.innerHTML = '<option value="" selected disabled>Select Dosage</option>'; // Reset dosage dropdown
        
        // Populate dosage dropdown based on selected medicine
        pharmacyLists.forEach(function(pharmacy) {
            if (pharmacy.Drug.trim() === selectedMedicine) { // Ensure consistent comparison
                const option = document.createElement('option');
                option.text = pharmacy.Strength;
                option.value = pharmacy.Strength;
                dosageInput.appendChild(option);
            }
        });

        // Trigger the change event on dosage dropdown to update the route dropdown
        dosageInput.dispatchEvent(new Event('change'));
    }

    function changeRouteDropdown() {
        const selectedStrength = dosageInput.value.trim();
        
        // Change route dropdown based on selected strength
        pharmacyLists.forEach(function(pharmacy) {
            if (pharmacy.Strength.trim() === selectedStrength) { // Ensure consistent comparison
                routeInput.value = pharmacy.Route;
            }
        });
    }
    document.addEventListener("DOMContentLoaded", function() {
        var birthdayString = document.getElementById("birthday-view").innerText;
        var birthday = new Date(birthdayString);
        var today = new Date();
        var ageYear = today.getFullYear() - birthday.getFullYear();
        var ageMonth = today.getMonth() - birthday.getMonth();
        const backButton = document.getElementById('backButton');

        document.getElementById('add-medication-link').addEventListener('change', function(event) {
            // Check if the change event occurred on the dosage dropdown
            if (event.target && event.target.classList.contains('dosage-input')) {
                // Change route dropdown based on selected strength
                const selectedStrength = event.target.value.trim();
                const routeInput = event.target.closest('.table-body').querySelector('.route-input');
                pharmacyLists.forEach(function(pharmacy) {
                    if (pharmacy.Strength.trim() === selectedStrength) {
                        routeInput.value = pharmacy.Route;
                    }
                });
            }
        });

        document.getElementById('add-medication-link').addEventListener('click', function(event) {
            event.preventDefault();
            var medicationListContainer = document.getElementById("medication-list-container");
            // Create a new row element
            var newRow = document.createElement('div');
            newRow.id = "table-body";
            // Add HTML content for the new row
            newRow.innerHTML = `
                <div style="flex: 1; text-align: center;"><input type="checkbox" class="remove-checkbox"></div>
                <div style="flex: 1; text-align: center;"><input type="number" name="days"></div>
                <div style="flex: 1; text-align: center;">
                    <input type="text" name="medicine_name" id="medicine_name_input" placeholder="Enter Medicine Name" list="medicine_name_suggestions">
                    <datalist id="medicine_name_suggestions">
                        {% for medicine in medicines_list %}
                            <option value="{{ medicine }}">{{ medicine }}</option>
                        {% endfor %}
                    </datalist>
                </div>
                
                <div style="flex: 1; text-align: center;">
                    <select class="dosage-input" name="dosage" id="dosage_input">
                        <option value="" selected disabled>Select Dosage</option>
                    </select>
                </div>
                <div style="flex: 1; text-align: center;">
                    
                    <input type="text" name="route" id="route_input" placeholder="Enter Route Name">
                </div>
                <div>
                    <div style="flex: 1; text-align: center;">
                        <div style="text-align: center;">
                            <input type="checkbox" name="times-daily[]" id="morning-checkbox" value="Morning">
                            <label for="morning-checkbox">Morning</label>
                        </div>
                        <div style="text-align: center;">
                            <input type="checkbox" name="times-daily[]" id="afternoon-checkbox" value="Afternoon">
                            <label for="afternoon-checkbox">Afternoon</label>
                        </div>
                        <div style="text-align: center;">
                            <input type="checkbox" name="times-daily[]" id="evening-checkbox" value="Evening">
                            <label for="evening-checkbox">Evening</label>
                        </div>
                    </div>
                </div>
                <div style="flex: 1; text-align: center;"><input type="text" class="remarks-input" placeholder="Additional Remarks" name="additionalremarks"></div>
            `;

            // Append the new row to the medications container
            medicationListContainer.appendChild(newRow);
            populateDosageDropdown();
            changeRouteDropdown();
        });
        

        var pharmacyLists = JSON.parse('{{ pharmacy_lists|escapejs }}');
    console.log(pharmacyLists);  // Print pharmacy_lists to the console

    // Add your additional JavaScript code here
    const medicineNameInput = document.getElementById('medicine_name_input');
    const dosageInput = document.getElementById('dosage_input');
    const routeInput = document.getElementById('route_input');

    medicineNameInput.addEventListener('input', populateDosageDropdown);

    dosageInput.addEventListener('change', changeRouteDropdown);

    function populateDosageDropdown() {
        const selectedMedicine = medicineNameInput.value.trim();
        dosageInput.innerHTML = '<option value="" selected disabled>Select Dosage</option>'; // Reset dosage dropdown
        
        // Populate dosage dropdown based on selected medicine
        pharmacyLists.forEach(function(pharmacy) {
            if (pharmacy.Drug.trim() === selectedMedicine) { // Ensure consistent comparison
                const option = document.createElement('option');
                option.text = pharmacy.Strength;
                option.value = pharmacy.Strength;
                dosageInput.appendChild(option);
            }
        });

        // Trigger the change event on dosage dropdown to update the route dropdown
        dosageInput.dispatchEvent(new Event('change'));
    }

    function changeRouteDropdown() {
        const selectedStrength = dosageInput.value.trim();
        
        // Change route dropdown based on selected strength
        pharmacyLists.forEach(function(pharmacy) {
            if (pharmacy.Strength.trim() === selectedStrength) { // Ensure consistent comparison
                routeInput.value = pharmacy.Route;
            }
        });
    }


        // Adjust age months if negative
        if (ageMonth < 0 || (ageMonth === 0 && today.getDate() < birthday.getDate())) {
            ageYear--;
            ageMonth += 12;
        }

        document.getElementById("age-view").innerText = ageYear + " years and " + ageMonth + " months";

        backButton.addEventListener('click', function() {
            window.history.back();
        });

        document.getElementById("select-all-checkbox").addEventListener("change", function() {
            selectAllCheckboxes();
        });
    
        document.getElementById("remove-medication-button").addEventListener("click", function(event) {
            event.preventDefault(); // Prevent default behavior of the link
            var medicationListContainer = document.getElementById("medication-list-container");
            var tableBodies = medicationListContainer.querySelectorAll("#table-body");
        
            tableBodies.forEach(function(tableBody) {
                if (tableBody.querySelector(".remove-checkbox").checked) {
                    medicationListContainer.removeChild(tableBody);
                }
            });
        });
        function selectAllCheckboxes() {
            var checkboxes = document.getElementsByClassName("remove-checkbox");
            var selectAllCheckbox = document.getElementById("select-all-checkbox");
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = selectAllCheckbox.checked;
            }
        }

        document.getElementById('submit-medication-button').addEventListener('click', function () {
            alert('Successfully Added a Medication Order/Prescription!');
        });
        
    });
</script>

{% endblock %}