
{%load static%}
<title>{% block title %}Patient Medical History{% endblock %}</title>

{% block styles%} 
<link rel="stylesheet" href="{% static 'css/patient_medical_history_style.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% comment %} <style>
    #other-side{
        width: 81%;
        height: 100%;
        
        position: absolute;
        left: 18%;
        top : 0%;
        display: flex;
    }
    #menu-history-bar {
        background-color: #f4f4f4;
        padding: 5px;
        border-radius: 5px;
        width: 200px;
        height: 90vh;
        margin-right: 10px; /* Add margin to create space between elements */
    }
    
    #medical-history {
        flex-grow: 1; /* Allow the element to grow and fill remaining space */
    }
    
    #menu-history-bar ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    
    #menu-history-bar ul li {
        margin-bottom: 3px; /* Reduced margin */
    }
    
    #menu-history-bar ul li a {
        display: block;
        padding: 6px 15px; /* Reduced padding */
        text-decoration: none;
        color: #333;
        border-left: 3px solid transparent;
        transition: border-left 0.3s ease;
    }
    
    #menu-history-bar ul li a:hover {
        border-left: 3px solid #007bff; /* Change color to your preference */
        background-color: #e5e5e5;
    }
    
    #menu-history-bar ul li.active a {
        border-left: 3px solid #007bff; /* Change color to your preference */
        background-color: #e5e5e5;
        font-weight: bold;
    }
    
</style> {% endcomment %}
<style>
    #other-side{
        width: 81%;
        height: 100%;
        
        position: absolute;
        left: 18%;
        top : 0%;
    }
</style>
{% endblock styles%}

{% block content %}

<div id = "whole-screen">
    <div id = "side-menu">
        <div id = "all-info">
            <div id = "user-info"> 
                <div id = "image">
                    <img src="{% static 'logo-color.png' %}" id = "display-photo">
                </div>
                <div id = "information">
                    <div id = "name"> Jeonghan </div>
                    <div id = "role"> General Practitioner</div>
                </div>
            </div>
            <div id="menu"> 
                <div id="a1"><i class="fas fa-tachometer-alt"></i> <a href="">Dashboard</a></div>
                <div id="a2"><i class="far fa-calendar-alt"></i> <a href="">Appointments</a></div>
                <div id="a3" style="font-weight: bold;"><i class="fas fa-user"></i> <a href="{% url 'patient_data_doctor_view' %}">Patients</a></div>
                <div id="a5"><i class="far fa-envelope"></i> <a href="">Message</a></div>
                <div id="a6"><i class="far fa-user-circle"></i> <a href="">Profile</a></div>
                <div id="a7"><i class="fas fa-cog"></i> <a href="">Settings</a></div>
            </div>
        </div>
    </div>

    <div id = "other-side">
        <div id = "title">
            <button id="backButton">Back</button>
        </div>
        {% comment %} <div id="menu-history-bar">
            <ul>
                <li><a href="">Past Medical/Surgical History</a></li>
                <li><a href="">Allergies</a></li>
                <li><a href="">Immunization</a></li>
                <li><a href="">Family History</a></li>
                <li><a href="">Social History</a></li>
            </ul>
        </div> {% endcomment %}
        <div id = "medical-history">
            <div id = "past-medical-surgical-history">
                <div id = "head">Past Medical/Surgical History</div>
                <div id = "medical-surgical-history-table">
                    <table id = "medical-or-surgical-history-table">
                        <tr>
                            <th class = "diagnosis-date">Diagnosis Date</th>
                            <th class = "illness">Illness</th>
                            <th class = "treatment">Treatment</th>
                            <th class = "remark">Remarks</th>
                        </tr>
                        <tr>
                            <td>9/10/2024</td>
                            <td>Asthma</td>
                            <td>medication</td>
                            <td>weekly visit is required iuehoiwe ijwdo wjediowhnsekdj ihwdiown wjdiowklnd ,efef kfd</td>
                        </tr>
                    </table>
                </div>
                <div id = "edit-medical-surgical-history">
                    <a href = "{% url 'edit_medical_surgical_history' %}" id = "edit-medical-surgical-history-button">Edit</a>
                </div>
            </div>
            
            <div id = "allergy">
                <div id = "head">Allergies</div>
                <div id = "allergy-table">
                    <table id = "allergies-table">
                        <tr>
                            <th class = "allergen">Allergen</th>
                            <th class="severity">Reaction/Severity</th>
                        </tr>
                        <tr>
                            <td>peanuts</td>
                            <td>???</td>
                        </tr>
                    </table>
                </div>
                <div id = "edit-allergy">
                    <a href = "{% url 'edit_allergy' %}" id = "edit-allergy-button">Edit</a>
                </div>
            </div>
            <div id = "immunization">
                <div id = "head">Immunization</div>
                <div id = "immunization-table">
                    <table id = "immunization-history-table">
                        <tr>
                            <th class="vaccine">Vaccine</th>
                            <th class="given-date">Date Given</th>
                            <th class="dosage-number">Dosage Number</th>
                            <th class="administer">Administered By</th>
                        </tr>
                        <tr>
                            <td>HPV</td>
                            <Td></Td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
                <div id = "edit-immunization">
                    <a href = "{% url 'edit_immunization_history' %}" id = "edit-immunization-button">Edit</a>
                </div>
            </div>
            <div id = "family-history">
                <div id = "head">Family History</div>
                <div id = "family-history-table">
                    <table id = "table-family-history">
                        <tr>
                            <th class="member">Member</th>
                            <th class="Illness">Illness/es</th>
                            <th class="age">Age of Diagnosis</th>
                        </tr>
                        <tr>
                            <td>Mother</td>
                            <td>High Blood</td>
                            <td>45</td>
                        </tr>
                    </table>
                </div>
                <div id = "edit-family-history">
                    <a href = "{% url 'edit_family_history' %}" id = "edit-family-history-button">Edit</a>
                </div>
            </div>
            <div id = "social-history"> 
                <div id = "head">Social History</div>
                <div id = "social-history-info">
                    <script>
                        document.getElementById("social-history-info").style.pointerEvents = "none";
                    </script>
                    <div id = "social-info">
                        <div id = "smoking">
                            Smoking?
                            <input type="radio" id="yes" name="smoking-answer" value="yes">
                            <label for="yes">Yes</label>
                            <input type="radio" id="no" name="smoking-answer" value="no">
                            <label for="no">No</label>
                        </div>
                        <div id = "alcohol">
                            Alcohol?
                            <input type="radio" id="yes" name="alcohol-answer" value="yes">
                            <label for="yes">Yes</label>
                            <input type="radio" id="no" name="alcohol-answer" value="no">
                            <label for="no">No</label>
                        </div>
                    </div>
                </div>
                <div id = "edit-social-history">
                    <a id = "edit-social-history-button" onclick = "edit()">Edit</a>
                    <a id = "save-social-history" onclick = "save()" style = "display: none;">Save</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function edit() {
        // Enable radio buttons for editing
        document.getElementById("social-history-info").style.pointerEvents = "";

        // Hide the edit button and show the save button
        document.getElementById("edit-social-history-button").style.display = "none";
        document.getElementById("save-social-history").style.display = "inline";
    }

    function save() {
        // Disable radio buttons after saving
        document.getElementById("social-history-info").style.pointerEvents = "none";

        // Hide the save button and show the edit button
        document.getElementById("edit-social-history-button").style.display = "inline";
        document.getElementById("save-social-history").style.display = "none";
    }

    document.addEventListener("DOMContentLoaded", function() {
        const backButton = document.getElementById('backButton');

        backButton.addEventListener('click', function() {
            window.history.back();
        });
    });
</script>


{% endblock %}