
{%load static%}
<title>{% block title %}Patient Vital Signs History{% endblock %}</title>

{% block styles%} 
<link rel="stylesheet" href="{% static 'css/patient_vital_sign_history_view.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<style>
    
</style>
{% endblock styles%}

{% block content %}
        <div id = "whole-screen">
            <div id = "side-menu" style="background-color: #334a7c;">
                <div id = "all-info">
                    <div id = "user-info"> 
                        <div id = "image">
                            <img src="{% static 'logo-color.png' %}" id = "display-photo">
                        </div>
                        <div id="information">
                            {% for doctor_id, doctor_data in doctors.items %}
                                {% if doctor_data.uid == uid %}
                                    <div id="name" style="font-size: 22px;"> {{ doctor_data.fname }} {{ doctor_data.lname }}</div>
                                    <div id="role" style="font-size: 16px;"> {{ doctor_data.specialization}}</div>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                    <div id="menu"> 
                        <div id="a1"><i class="fas fa-tachometer-alt"></i> <a href="{% url 'DoctorDashboard' %}">Dashboard</a></div>
                        <div id="a2"> <i class="far fa-calendar-alt"></i> <a href="{% url 'AppointmentUpcoming' %}">Appointments</a></div>
                        <div id="a3" style="font-weight: bold;"><i class="fas fa-user"></i> <a href="{% url 'patient_data_doctor_view' %}">Patients</a></div>
                        
                        <div id="a4"><i class="fas fa-sign-out-alt"></i> <a href="{% url 'logout' %}"> Logout</a></div>

                    </div>
                </div>
            </div>
            <div id = "other-information">
                <div id = "title">
                    <div id = "left">
                        <button id="backButton">Back</button>
                    </div>
                </div>
                {% for chosenPatientData_id, chosenPatientData_data in chosenPatientData.items %}
                <div id = "title">
                    <div id = "header">Vital Signs History of {{ chosenPatientData_data.fname }} {{ chosenPatientData_data.lname }}</div>
                </div>
                {% endfor %}
                <div id = "information-table">
                    <table id = "user-information" style="border-bottom: 1px #85AA9B solid;">
                        <tr id = "head" style="background-color: #334a7c; color: white; border-bottom: 1px #85AA9B solid;">
                            <th class = "tableheader">Date</th>
                            <th class = "tableheader">Temperature</th>
                            <th class = "tableheader">Blood Pressure</th>
                            <th class = "tableheader">Pulse</th>
                            <th class = "tableheader">Respiration</th>
                            <th class = "tableheader">Pain Index</th>
                        </tr>
                        {% for sorted_vital_signs_id, sorted_vital_signs_data in sorted_vital_signs.items %}
                            <tr>
                                <td>{{ sorted_vital_signs_data.date }} {{ sorted_vital_signs_data.time }}</td>
                                <td>{{ sorted_vital_signs_data.temperature }} °C</td>
                                <td>{{ sorted_vital_signs_data.bloodpressure }}</td>
                                <td>{{ sorted_vital_signs_data.pulse }} bpm</td>
                                <td>{{ sorted_vital_signs_data.respiration }}</td>
                                <td>{{ sorted_vital_signs_data.painindex }}/10</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            
        </div>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const backButton = document.getElementById('backButton');

        backButton.addEventListener('click', function() {
            window.history.back();
        });
    });
</script>
{% endblock %}