{%load static%}
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{% static 'logo-color.png' %}">
    <title>{% block title %}Patients{% endblock %}</title>
     
    {% block styles%} 
    <link rel="stylesheet" href="{% static 'assets/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/select.dataTables.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link rel="stylesheet" href="{% static 'assets/images/favicon.png' %}">
    {% endblock styles%}
  </head>

{% block content %}
  <body>
    <div class="container-scroller">
      <!-- partial:../../partials/_navbar.html -->
      {% include "../partials/_appblanknavbar.html" %}

      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        {% include "../partials/_sidebar.html" %}

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Patients</h4>
                    <div class="input-group">
                      <input type="text" class="form-control" placeholder="Search Name" aria-label="Search Name" id="searchInput">
                      <div class="input-group-append">
                        <button class="btn btn-primary" type="button" id="searchButton">Search</button>
                      </div>
                    </div>
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th>Patient Name</th>
                            <th>Gender</th>
                            <th>Diagnosis</th>
                            <th>Last Visited</th>
                          </tr>
                        </thead>
                        <tbody class="name_table">
                          {% if sorted_patients %}
                            {% for patient_data in sorted_patients %}
                              <tr id = "patient-info">
                                <td>
                                  <a href="{% url 'patient_medical_history' %}?chosenPatient={{patient_data.uid}}">
                                    {{ patient_data.fname }} {{ patient_data.lname }}
                                  </a>
                                </td>
                                <td>{{ patient_data.gender }}</td>
                                <td>{{ patient_data.disease }}</td>
                                <td>{{ patient_data.lastVisited }}</td>
                              </tr>
                            {% endfor %}
                          {% else %}
                            <td colspan="5" style="padding: 15px; text-align: center;">No current patients!</td>
                          {% endif %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <!-- page-body-wrapper ends -->
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
        // Selecting DOM elements
        const searchInput = document.getElementById('searchInput');
        const searchButton = document.getElementById('searchButton');
        const nameTable = document.querySelector('.name_table');
    
        // Adding event listener to search button
        searchButton.addEventListener('click', function() {
          const searchTerm = searchInput.value.trim().toLowerCase();
          const patients = nameTable.querySelectorAll('tr');
    
          patients.forEach(function(patient) {
            const patientName = patient.querySelector('td:first-child a');
            if (patientName) {
              const text = patientName.textContent.toLowerCase();
              const isVisible = text.includes(searchTerm);
              patient.style.display = isVisible ? '' : 'none';
            }
          });
        });

        document.getElementById('appID').addEventListener('click', function () {
          alert('Appointment rescheduled successfully!');
        });
      });
    </script>
    
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>

    <script src="{% static 'assets/vendors/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>

    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>

  </body>
{% endblock %}