{%load static%}
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Patient Data{% endblock %}</title>
    <!-- plugins:css -->
     
    {% block styles%} 
    <link rel="stylesheet" href="{% static 'assets/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">

    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/select2/select2.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/select2-bootstrap-theme/select2-bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/js/select.dataTables.min.css' %}">

    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <!-- endinject -->
    <link rel="stylesheet" href="{% static 'assets/images/favicon.png' %}">
    <style>
        .detail-wrapper {
            display: flex;
            align-items: center;
        }
        .detailname {
            margin-right: 4px; 
        }
        #health-conditions {
            margin-bottom: 15px;
        }
    </style>
    {% endblock styles%}
  </head>

  {% block content %}
  <body class="with-welcome-text">
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      <nav class="navbar default-layout col-lg-12 col-12 p-0 fixed-top d-flex align-items-top flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-start">
          <div class="me-3">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-bs-toggle="minimize">
              <span class="icon-menu"></span>
            </button>
          </div>
          <div>
            <b>MediMatrix</b>
          </div>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-top">
          <ul class="navbar-nav">
            <li class="nav-item fw-semibold d-none d-lg-block ms-0">
              <h1 class="welcome-text">Patient: 
                {% for chosenPatientData_id, chosenPatientData_data in chosenPatientData.items %}
                    <span class="text-black fw-bold">{{ chosenPatientData_data.fname }} {{ chosenPatientData_data.lname }}</span>
                {% endfor %}
                </h1>

                {% if chosenPatientConsulNotes %}
                    {% for chosenPatientConsulNotes_id, chosenPatientConsulNotes_data in chosenPatientConsulNotes.items %}
                        {% if chosenPatientConsulNotes_data.diagnosis %}
                            <h3 class="welcome-sub-text">Diagnosis: {{ chosenPatientConsulNotes_data.diagnosis }}</h3>
                        {% else %} 
                            <h3 class="welcome-sub-text">Diagnosis: No Current Diagnosis</h3>
                        {% endif %} 
                    {% endfor %}   
                {% else %} 
                    <h3 class="welcome-sub-text">Diagnosis: No Current Diagnosis</h3>
                {% endif %} 
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item dropdown d-none d-lg-block user-dropdown">
              <a class="nav-link" id="UserDropdown" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                <img class="img-xs rounded-circle" src="{% static 'doctorjohn.jpg' %}" alt="Profile image"> </a>
              <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                  {% for doctor_id, doctor_data in doctors.items %}
                        {% if doctor_data.uid == uid %}
                            <p class="mb-1 mt-3 fw-semibold">{{ doctor_data.fname }} {{ doctor_data.lname }}</p>
                            <p class="fw-light text-muted mb-0">{{ doctor_data.email }}</p>
                        {% endif %}
                    {% endfor %}
                </div>
                <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-account-outline text-primary me-2"></i> My Profile <span class="badge badge-pill badge-danger">1</span></a>
                <a class="dropdown-item"><i class="dropdown-item-icon mdi mdi-message-text-outline text-primary me-2"></i> Messages</a>
                <a class="dropdown-item" href="{% url 'logout' %}"><i class="dropdown-item-icon mdi mdi-power text-primary me-2"></i>Sign Out</a>
              </div>
            </li>
          </ul>
          <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-bs-toggle="offcanvas">
            <span class="mdi mdi-menu"></span>
          </button>
        </div>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
          <ul class="nav">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'DoctorDashboard' %}">
                <i class="mdi mdi-grid-large menu-icon"></i>
                <span class="menu-title">Dashboard</span>
              </a>
            </li>
            <li class="nav-item nav-category">Menu</li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
                <i class="menu-icon mdi mdi-floor-plan"></i>
                <span class="menu-title">Appointments</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="ui-basic">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"> <a class="nav-link" href="{% url 'AppointmentCalendar' %}">Calendar</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'AppointmentUpcoming' %}">Upcoming</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'AppointmentPast' %}">Past</a></li>
                  <li class="nav-item"> <a class="nav-link" href="{% url 'AppointmentScheduling' %}">Schedule</a></li>
                </ul>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-bs-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
                <i class="menu-icon mdi mdi-card-text-outline"></i>
                <span class="menu-title">Patients</span>
                <i class="menu-arrow"></i>
              </a>
              <div class="collapse" id="form-elements">
                <ul class="nav flex-column sub-menu">
                  <li class="nav-item"><a class="nav-link" href="{% url 'patient_data_doctor_view' %}">All</a></li>
                </ul>
              </div>
            </li>
          </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-sm-12">
                <div class="home-tab">
                  <div class="d-sm-flex align-items-center justify-content-between border-bottom">
                    <ul class="nav nav-tabs" role="tablist">
                      <li class="nav-item">
                        <a class="nav-link active ps-0" id="home-tab" data-bs-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">Overview</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#medicalhistory" role="tab" aria-selected="false">Medical History</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" id="treatment-tab" data-bs-toggle="tab" href="#treatment" role="tab" aria-selected="false">Treatment Plan</a>
                      </li>
                    </ul>
                  </div>
                  <div class="tab-content tab-content-basic">

                    <!-- Overview Tab -->
                    <div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview">
                      <div class="row">
                        <div class="col-lg-8 d-flex flex-column">
                          <div class="row flex-grow">
                            <div class="col-12 grid-margin stretch-card">
                              <div class="card card-rounded">
                                <div class="card-body">
                                    <div class="d-sm-flex justify-content-between align-items-start">
                                        <div>
                                          <h4 class="card-title card-title-dash">Consultation Notes</h4>
                                          <p class="card-subtitle card-subtitle-dash">Record your observations</p>
                                        </div>
                                      </div>
                                    <div class="table-responsive mt-1">
                                        {% for chosenPatientData_id, chosenPatientData_data in chosenPatientData.items %}
                                            <form method='post'>
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <select class="js-example-basic-multiple w-100" multiple="multiple">
                                                    <option value="Shortness of Breath">Shortness of Breath</option>
                                                    <option value="Cough">Cough</option>
                                                    <option value="Production of Phlegm">Production of Phlegm</option>
                                                    <option value="Wheezing">Wheezing</option>
                                                    <option value="Coughing up Blood">Coughing up Blood</option>
                                                    <option value="Chest Pain">Chest Pain</option>
                                                    <option value="Fever">Fever</option>
                                                    <option value="Heart Murmur">Heart Murmur</option>
                                                    </select>
                                                </div>

                                                <div id="chiefComplaintArea" style="margin-bottom: 15px;"> 
                                                    {% if chosenPatientConsulNotes %}
                                                        {% for chosenPatientConsulNotes_id, chosenPatientConsulNotes_data in chosenPatientConsulNotes.items %}
                                                            <textarea id="chiefComplaintText" rows="3" cols="72" placeholder="Additional Notes" 
                                                            name="chiefComplaint">{{ chosenPatientConsulNotes_data.chiefComplaint }}</textarea>
                                                        {% endfor %}
                                                    {% else %}
                                                        <textarea id="chiefComplaintText" rows="3" cols="72" placeholder="Additional Notes" 
                                                        name="chiefComplaint"></textarea>
                                                    {% endif %}
                                                </div> 
                                                
                                                <button id="saveChiefComplaintButton" type="submit" class="btn btn-success btn-sm" name="complaintButton" value={{ chosenPatientData_id }}>
                                                    <i class="fa fa-check"></i> Save </button>
                                                
                                                <button id="cancelChiefComplaintButton" type="button" class="btn btn-danger btn-sm">
                                                    <i class="fa fa-times"></i> Cancel </button>

                                            </form>

                                            <form id="diagnosis" method='post'>
                                              {% csrf_token %}
                                              <div class="detail-wrapper">
                                                  <div class="detailname" style="font-weight: bold;">
                                                      Diagnosis:
                                                  </div>
  
                                                  <select id="health-conditions" name="diagnosis" list="disease_name_suggestions">
                                                      <datalist id="disease_name_suggestion">
                                                          <option value="">--- Select Disease ---</option>
                                                          {% for disease in disease_list %}
                                                              <option value="{{ disease }}">{{ disease }}</option>
                                                          {% endfor %}
                                                      </datalist>
                                                  </select>
                                              </div>

                                              <button id="submitdiagnosis" type="submit" class="btn btn-success btn-sm" name="diagnosisButton" value={{ chosenPatientData_id }}>
                                                  <i class="fa fa-check"></i> Save </button>
                                          </form>
                                        {% endfor %}

                                        {% for chosenPatientConsulNotes_id, chosenPatientConsulNotes_data in chosenPatientConsulNotes.items %}
                                            {% if chosenPatientConsulNotes_data.diagnosis %}
                                                <button  class="buttons_info"><a href="{% url 'outpatient_medication_order' %}?chosenPatient={{chosenPatientData_data.uid}}&diagnosis={{chosenPatientConsulNotes_data.diagnosis}}">Make Medication Order</a></button>
                                            {% endif %}
                                        {% endfor %}

                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="col-lg-4 d-flex flex-column">
                            <div class="row flex-grow">
                                <div class="col-12 grid-margin stretch-card">
                                  <div class="card card-rounded">
                                    <div class="card-body">
                                      <div class="row">
                                        {% for chosenPatientData_id, chosenPatientData_data in chosenPatientData.items %}
                                        <div class="col-lg-12">
                                          <div class="d-flex justify-content-between align-items-center mb-1">
                                            <div class="d-sm-flex justify-content-between align-items-start">
                                                <div>
                                                  <h4 class="card-title card-title-dash">Diagnostic Tests</h4>
                                                </div>
                                              </div>
                                          </div>
                                          <div class="mt-3">
                                            <div class="wrapper d-flex align-items-center justify-content-between py-2">
                                              <div class="d-flex">
                                                <div class="wrapper ms-3">
                                                    <button class="btn btn-inverse-success btn-sm">
                                                        <i class="fa fa-folder-open"></i>
                                                        <a href = "{% url 'diagnostic_imagery_reports' %}?chosenPatient={{chosenPatientData_data.uid}}">View Test Results</a>
                                                    </button>

                                                    <button class="btn btn-inverse-success btn-sm" id="requestLabTestButton">
                                                        <i class="fa fa-plus"></i>
                                                        <a href = "{% url 'requestTest' %}?chosenPatient={{chosenPatientData_data.uid}}">Request New Test</a>
                                                    </button>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                        {% endfor %}
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>

                          <div class="row flex-grow">
                            <div class="col-12 grid-margin stretch-card">
                              <div class="card card-rounded">
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-lg-12">
                                        <div class="d-flex justify-content-between align-items-center mb-1">
                                          <div>
                                            <h4 class="card-title card-title-dash fs-5">Personal Information</h4>
                                          </div>
                                        </div>
                                        <div class="mt-1">
                                          <div class="wrapper d-flex align-items-center justify-content-between py-2">
                                            <div class="d-flex">
                                              <div class="wrapper ms-3">
                                                  {% for chosenPatientData_id, chosenPatientData_data in chosenPatientData.items %}
                                                      <span class="ms-0 mb-0 fs-6 fw-bold">Sex: </span><span class="ms-0 mb-0 fs-6">{{ chosenPatientData_data.gender }}</span><br>
                                                      <span class="ms-0 mb-0 fs-6 fw-bold">Birthday: </span><span class="ms-0 mb-0 fs-6">{{ chosenPatientData_data.bday }}</span><br>
                                                  {% endfor %}

                                                  {% for chosenPatientDatas_id, chosenPatientDatas_data in chosenPatientDatas.items %}
                                                      <span class="ms-0 mb-0 fs-6 fw-bold">Blood Type: </span><span class="ms-0 mb-0 fs-6">{{ chosenPatientDatas_data.bloodType }}</span><br>
                                                      <span class="ms-0 mb-0 fs-6 fw-bold">Height: </span><span class="ms-0 mb-0 fs-6">{{ chosenPatientDatas_data.height }} cm</span><br>
                                                      <span class="ms-0 mb-0 fs-6 fw-bold">Weight: </span><span class="ms-0 mb-0 fs-6">{{ chosenPatientDatas_data.weight }} kg</span><br>
                                                  {% endfor %}
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <!-- Medical History Tab -->
                    <div class="tab-pane fade" id="medicalhistory" role="tabpanel" aria-labelledby="medicalhistory">
                      <div class="row">
                        <div class="col-lg-8 d-flex flex-column">
                          <div class="row flex-grow">
                            <div class="col-12 col-lg-4 col-lg-12 grid-margin stretch-card">
                              <div class="card card-rounded">
                                <div class="card-body">
                                  <div class="d-sm-flex justify-content-between align-items-start">
                                    <div>
                                      <h4 class="card-title card-title-dash">Symptoms History Chart</h4>
                                      <!-- DROPDOWN FOR SYMPTOM -->
                                      <div class="dropdown">
                                        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton8" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true"> -- Select Symptom -- </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton8">
                                          {% for symptom_id, symptom_data in symptoms_list.items %}
                                            <a class="dropdown-item" href="#">{{ symptom_id }}</a>
                                          {% endfor %}
                                        </div>
                                      </div>
                                    </div>
                                    <div id="performanceLine-legend"></div>
                                  </div>
                                  <div class="chartjs-wrapper mt-4">
                                    <canvas id="performanceLine"></canvas>
                                  </div>

                                  {% for chosenPatientSymptoms_id, chosenPatientSymptoms_data in chosenPatientSymptoms.items %}
                                      <span class="ms-0 mb-0 fs-6 fw-bold">Symptoms: </span><span class="ms-0 mb-0 fs-6">{{ chosenPatientSymptoms_data.Coughing.severityRecords }}</span><br>
                                  {% endfor %}

                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <script>
                      document.addEventListener('DOMContentLoaded', function () {
                          // Manually inputting chart data
                          var chartData = {
                              labels: ['07/01','07/02','07/03','07/04','07/05','07/06','07/07'],
                              data: [1, 2, 2, 3, 2, 2, 2]
                          };
                      
                          var ctx = document.getElementById('performanceLine');
                          if (ctx) {
                              ctx = ctx.getContext('2d');
                              var myLineChart = new Chart(ctx, {
                                  type: 'line',
                                  data: {
                                      labels: chartData.labels,
                                      datasets: [{
                                          label: 'Level of Severity',
                                          data: chartData.data,
                                          borderColor: 'rgba(75, 192, 192, 1)',
                                          backgroundColor: 'rgba(75, 192, 192, 0.2)',
                                          borderWidth: 1
                                      }]
                                  },
                                  options: {
                                      responsive: true,
                                      scales: {
                                          y: {
                                              beginAtZero: true,
                                              ticks: {
                                                  precision: 0  // Ensures the ticks on the y-axis are whole numbers
                                              }
                                          }
                                      }
                                  }
                              });
                          } else {
                              console.error("Element with ID 'performanceLine' not found.");
                          }
                      });
                    </script>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'assets/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'assets/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'assets/vendors/chart.js/chart.umd.js' %}"></script>
    <script src="{% static 'assets/vendors/progressbar.js/progressbar.min.js' %}"></script>
    <script src="{% static 'assets/vendors/select2/select2.min.js' %}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'assets/js/off-canvas.js' %}"></script>
    <script src="{% static 'assets/js/template.js' %}"></script>
    <script src="{% static 'assets/js/settings.js' %}"></script>
    <script src="{% static 'assets/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'assets/js/todolist.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page-->
    <script src="{% static 'assets/js/jquery.cookie.js' %}" type="text/javascript"></script>
    <script src="{% static 'assets/js/dashboard.js' %}"></script>
    <script src="{% static 'assets/js/select2.js' %}"></script>

    <!-- <script src="assets/js/Chart.roundedBarCharts.js"></script> -->
    <!-- End custom js for this page-->
  </body>
  {% endblock %}