{% extends 'hmis/base.html' %}
{%load static%}

{% block title %}Update Profile{% endblock %}

{% block styles%} 
<!-- Stylesheet for the program -->
<link rel="stylesheet" href="{% static 'css/style-user.css' %}">
{% endblock styles%}

{% block content %}
<div id = "whole-screen">
    <div id = "side-menu" style="background-color: #334a7c;">
        <div id = "all-info">
            <div id = "user-info"> 
                <div id = "image">
                    <img src="\static\doctorjohn.jpg" id = "display-photo">
                </div>
                <div id = "information">
                    {% for account_id, account_data in accounts.items %}
                        {% if account_data.uid == uid %}
                            <div id="name"> {{ account_data.fname }} {{ account_data.lname }}</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div id = "menu"> 
                <div id = "a1"><a href="">Dashboard</a></div>
                <div id = "a3"><a href="AppointmentUpcoming.html">Appointments</a></div>
                <div id = "a1"><a href="">Patients</a></div>
                <div id = "a4"><a href="">Medications</a></div>
                <div id = "a5"><a href="Message.html">Message</a></div>
                <div id = "a6" style="font-weight: bold;"><a href="{% url 'Profile' %}">Profile</a></div>
                <div id = "a7"><a href="">Settings</a></div>
                <div id="a7"><a href="{% url 'logout' %}">Logout</a></div>
            </div>
        </div>
    </div>

    <div id="admin-screen">
        {% for account_id, account_data in accounts.items %}
        {% if account_data.uid == uid %}

        <form method="post" action="{% url 'update_profile' %}" class="signup_table">
            {% csrf_token %}
            <div class="form-group">
                <label class="signup_lbl">Email </label>
                <input class="signup_txtboxname" type="email" name="email" placeholder="Enter Email" value={{ account_data.email }} disabled>
            </div>
            <div class="form-group">
                <label class="signup_lbl">First Name </label>
                <input class="signup_txtboxname" type="text" name="fname" placeholder="Enter First Name" value={{ account_data.fname }} disabled>
            </div>
            <div class="form-group">
                <label class="signup_lbl">Last Name </label>
                <input class="signup_txtboxname" type="text" name="lname" placeholder="Enter Last Name" value={{ account_data.lname }} disabled>
            </div>
            <div class="form-group">
                <label class="signup_lbl">Sex </label>
                <input type="radio" name="sex" value="Male" {% if account_data.sex == 'Male' %} checked {% endif %} disabled><label class="signup_lbl2">Male &ensp;</label>
                <input type="radio" name="sex" value="Female" {% if account_data.sex == 'Female' %} checked {% endif %} disabled><label class="signup_lbl2">Female</label>
            </div>

            <div class="form-group">
                <label class="signup_lbl">Office Number </label>
                <input class="signup_txtboxname" type="number" name="cnumber" placeholder="Enter Office Number" value={{ account_data.cnumber }} required>
            </div>

            <div class="form-group">
                <label class="signup_lbl">Clinic Name </label>
                <input class="signup_txtboxname" name="clinicname" placeholder="Enter Clinic Name" value={{ account_data.clinicname }} disabled>
            </div>


            <div class="form-group">
                <label class="signup_lbl">Clinic Address </label>
                <input class="signup_txtboxname" name="clinicaddress" placeholder="Enter Clinic Address" value={{ account_data.clinicaddress }} disabled>
            </div>

            <button id="signup_btn" type="submit" name='update' value={{ uid }}>Update Account</button>

            {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </form>
        
        {% endif %}
        {% endfor %} 
    </div>
</div>  

<script>
    console.log("{{ account_data.clinicname }}");
</script>
<script src="{% static 'js/register.js' %}"></script>

{% endblock %}
