{% extends 'hmis/base.html' %}
{%load static%}

{% block title %}Update Profile{% endblock %}

{% block styles%} 
<!-- Stylesheet for the program -->
<link rel="stylesheet" href="{% static 'css/style-user.css' %}">
{% endblock styles%}

{% block content %}
<div id = "whole-screen">
    

    <div id="admin-screen">
        {% for account_id, account_data in accounts.items %}
        {% if account_data.uid == uid %}

        <form method="post" action="{% url 'update_profile' %}" class="signup_table">
            {% csrf_token %}
            <div class="form-group">
                <label class="signup_lbl">Email </label>
                <input class="signup_txtboxname" type="email" name="email" placeholder="Enter Email" value={{ account_data.email }} disabled>
            </div>
            <div class="form-group">
                <label class="signup_lbl">First Name </label>
                <input class="signup_txtboxname" type="text" name="fname" placeholder="Enter First Name" value={{ account_data.fname }} disabled>
            </div>
            <div class="form-group">
                <label class="signup_lbl">Last Name </label>
                <input class="signup_txtboxname" type="text" name="lname" placeholder="Enter Last Name" value={{ account_data.lname }} disabled>
            </div>
            <div class="form-group">
                <label class="signup_lbl">Sex </label>
                <input type="radio" name="sex" value="Male" {% if account_data.sex == 'Male' %} checked {% endif %} disabled><label class="signup_lbl2">Male &ensp;</label>
                <input type="radio" name="sex" value="Female" {% if account_data.sex == 'Female' %} checked {% endif %} disabled><label class="signup_lbl2">Female</label>
            </div>
            <div class="form-group">
                <label class="signup_lbl">Specialization </label>
                <input class="signup_txtboxname" type="text" name="specialization" placeholder="Enter Specialization" value="{{ account_data.specialization }}" disabled >
            </div>
            <div class="form-group">
                <label class="signup_lbl">License No. </label>
                <input class="signup_txtboxname" type="text" name="license" placeholder="Enter License No." value="{{ account_data.license }}" disabled >
            </div>
            <div class="form-group">
                <label class="signup_lbl">PTR No. </label>
                <input class="signup_txtboxname" type="text" name="ptr" placeholder="Enter PTR No." value="{{ account_data.ptr }}" disabled >
            </div>

            <div class="form-group">
                <label class="signup_lbl">Affiliated Clinics</label>
                {% for clinic_id in account_data.clinic %}
                    {% for id, clinic_data in clinics.items %}
                        {% if clinic_id == id %}
                            <p>{{ clinic_data.name }} </p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>

            <div class="form-group">
                <label class="signup_lbl">Join Clinics </label>
                {% for clinic_id, clinic_data in clinics.items %}
                    {% if clinic_id not in account_data.clinic %}
                        <input type="checkbox" name="newclinic" value="{{ clinic_id }}">
                        <label class="signup_lbl2">{{ clinic_data.name }} &ensp;</label>
                    {% endif %}
                {% endfor %}
            </div>

            

            <button id="signup_btn" type="submit" name='update' value={{ uid }}>Update Account</button>

            {% comment %} {% if messages %}
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %} {% endcomment %}
        </form>
        
        {% endif %}
        {% endfor %} 
    </div>
</div>  

<script>
    console.log("{{ account_data.clinicname }}");
</script>
<script src="{% static 'js/register.js' %}"></script>

{% endblock %}
