{% load static%}
<title>{% block title %}Patient Data{% endblock %}</title>
{% block styles%} 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
    body {
        font-family: Arial, sans-serif;
        padding: 20px;
    }
    .prescription-pad {
        width: 600px;
        margin: 0 auto;
        border: 2px solid #000;
        padding: 20px;
        background-color: white; /* Set background color to white */
    }
    .prescription-header {
        text-align: center;
        margin-bottom: 20px;
    }
    .prescription-header h1 {
        margin: 0;
    }
    .prescription-content {
        margin-bottom: 20px;
    }
    .prescription-content p {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .prescription-content .right-aligned {
        white-space: nowrap;
    }
    .prescription-details {
        margin-bottom: 20px;
    }
    .prescription-footer {
        text-align: right;
    }
    .rx-sign {
        font-size: 24px;
        font-weight: bold;
    }
    .header {
        color: #333;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
    }
    .logo {
        flex: 1;
    }
    .logo img {
        width: 50px;
        height: 50px;
        float: left;
    }
    .credentials {
        flex: 1;
    }
    .credentials h1 {
        line-height: 1em;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 0px;
        padding: 0px;
    }
    .credentials h3 {
        line-height: 1em;
        letter-spacing: 1px;
        font-weight: 700;
        margin: 5px;
        padding: 2px;
    }
    .credentials p {
        margin: 10px 0 0 0;
        padding: 1px 0px;
    }
    .credentials small {
        margin: 0;
        padding: 0;
        letter-spacing: 1px;
        padding: 80px;
    }
    .medicine p {
        margin: 5px 0;
    }
    .medicine select, .medicine input {
        margin-right: 10px;
    }
    .medicine-row {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
    }
    .medicine-row label {
        margin-right: 10px;
    }
    .medicine-row button {
        margin-left: 10px;
    }
    .add-medicine-btn,
    .submit-medicine-btn,
    .print-medicine-btn {
        display: block;
        margin-top: 10px;
    }
    .print-only {
        display: none;
    }
    @media print {
        .print-only {
            display: block;
        }
        .add-medicine-btn,
        .remove-medicine-btn,
        .submit-medicine-btn,
        .print-medicine-btn {
            display: none;
        }
    }
    @media print {
        input[type="text"],
        select {
            border: none;
            background-color: transparent;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }
    }
</style>
{% endblock styles%}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <div class="prescription-pad">
        <div class="header">
            <div class="credentials">
                {% for doctor_id, doctor_data in doctors.items %}
                    {% if doctor_data.uid == uid %}
                        <h1>{{ doctor_data.fname }} {{ doctor_data.lname }}, M.D.</h1>
                        <h3>{{ doctor_data.specialization }}</h3>
                        {% for doctorClinic in doctor_data.clinic %}
                            {% for clinic_id, clinic_data in clinics.items %}  
                                {% if clinic_data.uid == doctorClinic %}
                                    <p>{{ clinic_data.name }}</p>
                                    <small>{{ clinic_data.address }}</small><br/>
                                    <small>{{ clinic_data.onumber }}</small><br/>
                                    <small>Mb. 0XXXXXXXXX</small>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <hr>

        <div class="prescription-content">
            {% for patientData_id, patientData_data in patientData.items %}
            <p>
                <span><strong>Patient Name:</strong> {{ patientData_data.fname }} {{ patientData_data.lname }}</span>
                <span><strong>Age:</strong> {{ patientData_data.age }}</span>
                <span><strong>Gender:</strong> {{ patientData_data.gender }}</span>
            </p>
            <p>
                <span><strong>Address:</strong> {{ patientData_data.address }} </span>
                <span class="right-aligned"><strong>Date:</strong> {{ todaydate }} </span>
            </p>
        {% endfor %}
        </div>

        <br>
        <div class="logo"><img src="https://seeklogo.com/images/R/RX-logo-1057A9CD42-seeklogo.com.png" alt="Clinic Logo"/></div>

        <br>
        <br>
        <br>
        <br>

        <div class="prescription-details">
            <div id="medicine-container">
                <div class="medicine">
                    <div class="medicine-row">
                        <label for="medicine-name"><strong>Test Name:</strong></label>
                    </div>
                    <div>
                        <input type="checkbox" name="test" value="Spirometry">
                        <label>Spirometry</label><br>

                        <input type="checkbox" name="test" value="Peak flow monitor">
                        <label>Peak flow monitor</label><br>

                        <input type="checkbox" name="test" value="Arterial blood gas">
                        <label>Arterial blood gas</label><br>

                        <input type="checkbox" name="test" value="Pulse oximetry">
                        <label>Pulse oximetry</label><br>

                        <input type="checkbox" name="test" value="Chest X-ray">
                        <label>Chest X-ray</label><br>

                        <input type="checkbox" name="test" value="CT scan">
                        <label>CT scan</label><br>

                        <input type="checkbox" name="test" value="High-resolution computed tomography">
                        <label>High-resolution computed tomography</label><br>

                        <input type="checkbox" name="test" value="Sputum examination">
                        <label>Sputum examination</label><br>
                    </div>
                    <hr>
                </div>
            </div>
            
            <button type="button" class="print-medicine-btn" onclick="window.print()">Print</button>
        </div>

        <div class="prescription-footer">
            {% for doctor_id, doctor_data in doctors.items %}
                {% if doctor_data.uid == uid %}
                    <p style="font-size: 16;"> <b>Doctor's Signature: <input type='file' name='signature'></p>
                    <p style="font-size: 16;">License No.: {{ doctor_data.license }}</p>
                    <p style="font-size: 16;">PTR No.: {{ doctor_data.ptr}}</p>
                {% endif %}
            {% endfor %}
        </div>
        </div>
        <button type="submit" class="submit-medicine-btn">Submit</button>
    </form>

<script>
</script>
{% endblock %}