#whole-screen{
    width: 100%;
    height: 95%;

    font-family: Arial, Helvetica, sans-serif;
}

#side-menu{
    width: 16%;
    height: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    
    background-color: #85AA9B;
}

#other-information{
    width: 77%;
    height: 90%;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -50%);
    
    border-radius: 2%;
    
    background-color: #E9E9E9;

    margin: 0 auto;
    justify-content: center;
}

#all-info{
    padding-top: -10%;
}

#user-info{
    padding-bottom: 2%;
}

#image{
    padding-top: 10%;
    padding-bottom: 5%;
}

#image, #display-photo{
    border-radius: 50%;

    width: 125px;
    height: 125px;

    margin: 0 auto;
    justify-content: center;
}

#information{
    text-align: center;
    
    font-family: Arial, Helvetica, sans-serif;
}

#name{
    font-size: 24;
    font-weight: bold;
    padding-bottom: 5px;
}

#role{
    font-size: 12;
}

#menu{
    justify-content: center;
    text-align: center;
    
}

#title{
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

#header{
    margin-left: 2%;
    float: left;

    font-size: 18;

    font-weight: bold;
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7{
    margin: 20;
    padding: 10;

    background-color: #E9E9E9;

    color: black;
    font-style: normal;
    text-decoration: none;


    border: 10px;
    border-radius: 10px;
    border-color: black;
}

#a1:hover, #a2:hover, #a3:hover, #a4:hover, #a5:hover, #a6:hover, #a7:hover{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    font-weight: bold;
}

#information-table{
    width: 96%;
    
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

#user-information{
    text-align: center;
    
    width: 100%;
}

#user-information td{
    padding: 10px;
}


#head{
    font-weight: bold;

    background-color: #85AA9B;
    border-color: #85AA9B;
    border-width: 0%;
}

.tableheader{
    text-align: center;

    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#photo-icon, #photo{
    border-radius: 50%;

    width: 45px;
    height: 45px;

    padding-left: 5px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 10px;
}

#patient-name{
    display: flex;
    align-items: flex-start;

    align-items: center;
    text-align: justify;

    margin-right: 10px;
}

#user-name{
    width: 100%;
}

.table{
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;
}

.pagination{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;

    bottom: 0px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #85AA9B;
    color: white;
    border: 1px solid #85AA9B;
}