body {
    background-color: white;
    display: grid;
    place-items: center;
  }
  
  .container {
    width: 100%;
    background-color: #fff;
  }
  
  .header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
  }
  
  .header #month {
    color: #698a7c;
    font-size: 30px;
    font-weight: 600;
  }
  
  button {
    width: fit-content;
    cursor: pointer;
    border: none;
    padding: 8px;
    border-radius: 10px;
    color: white;
    letter-spacing: 2px;
  }
  
  .header button {
    background-color: #698a7c;
  }
  
  .weekdays {
    width: 100%;
    display: flex;
    background-color: #698a7c;
    font-size: 17px;
    color: #fff;
    font-weight: 500;
    align-items: center;
  }
  
  .weekdays div {
    flex: 1;
    width: fit-content;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }
  
  #calendar {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
  }
  
  .day {
    width: calc(100% / 7); 
    max-width: calc(100% / 7);
    height: 100px;
    padding: 8px;
    cursor: pointer;
    box-sizing: border-box;
    color: #698a7c;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #cbd4c2;
  }
  
  .day:hover {
    background-color: rgba(112, 111, 211, 0.1);
    color: #698a7c;
  }
  
  #currentDay {
    background-color: rgba(105, 138, 124, 0.8);;
    color: #fff;
  }
  
  .event {
    font-size: 10px;
    padding: 3px;
    background-color: #3d3d3d;
    color: #fff;
    border-radius: 5px;
    max-height: 55px;
    overflow: hidden;
  }
  
  .plain {
    cursor: default;
    box-shadow: none;
  }
  
  #modal {
    display: none;
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto; 
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4); 
  }
  
  #addEvent,
  #viewEvent {
    display: none;
    width: 350px;
    background-color: #fff;
    padding: 25px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
  }
  
  #addEvent h2,
  #viewEvent h2 {
    font-weight: 500;
    margin-bottom: 10px;
  }
  
  #txtTitle {
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 25px;
    border-radius: 3px;
    outline: none;
    border: 1px solid #cbd4c2;
    font-size: 16px;
  }
  
  #btnSave {
    background-color: #2ed573;
  }
  
  .btnClose {
    background-color: #2f3542;
  }
  
  #viewEvent p {
    margin-bottom: 20px;
  }
  
  #btnDelete {
    background-color: #ea2027;
  }
  
  .error {
    border-color: #ea2027 !important;
  }
  
  /* The Modal */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: fit-content; /* Could be more or less, depending on screen size */
  }
  
  /* Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Task List */
  .task-list {
    margin: 20px;
  }
  
  /* Task Item */
  .task-item {
    margin-bottom: 10px;
    font-size: 12px;
    width: fit-content;
    padding: 5px;
    border-radius: 5px;
    background-color: #3d3d3d;
    color: white;
  }
  