body {
    background-color: #F5F5F5;
    font-family: 'Inter';
    margin-left: 0px;
}

#whole-screen{
    width: 100%;
    height: 100%;
    font-family: 'Inter';
}

#side-menu{
    width: 16%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    
    background-color: #85AA9B;
}

#all-info{
    padding: 10%;
}

#user-info{
    padding-bottom: 10%;
}

#image{
    padding-top: 10%;
    padding-bottom: 5%;
}

#image, #display-photo{
    border-radius: 50%;

    width: 125px;
    height: 125px;

    margin: 0 auto;
    justify-content: center;
}

#information{
    text-align: center;
}

#name{
    font-size: 18px;
    font-weight: bold;
}

#role{
    font-size: 14px;
}

#menu{
    justify-content: center;
    text-align: center;
}

#a1, #a2, #a3, #a4, #a5, #a6, #a7{
    margin: 10px;
    padding: 8px;

    background-color: #E9E9E9;

    color: black;
    font-style: normal;
    font-size: 14px;

    border-radius: 10px;
}

#a1:hover, #a2:hover, #a3:hover, #a4:hover, #a5:hover, #a6:hover, #a7:hover{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: black;
}

#admin-screen{
    width: 80%;
    height: 95%;
    position: absolute;
    top: 50%;
    left: 46%;
    transform: translate(-35%, -50%);
}

.signup_table {
    padding-top: 10px;
    text-align: left;
}

.signup_table td {
    padding: 5px 2px;
}

.signup_txtbox {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 8px;
    margin: 8px 0px;
    width: 95%;
}

.signup_txtboxname {
    border: 1px solid;
    border-radius: 10px;
    padding: 10px 8px;
    margin: 8px 0px;
    width: 185px;
}

.signup_lbl2 {
    font-size: 16px;
    color: black;
    text-align: left;
}

.signup_lbl{
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.signup_dd-birthmonth, .signup_dd-birthday, .signup_dd-birthyear, .signup_dd-department, .signup_dd-jobtitle {
    border-radius: 10px;
    margin: 8px 0px;
    padding: 10px 8px;
}

.signup_dd-birthmonth {
    margin: 8px 0px;
    width: 200px;
}

.signup_dd-birthday {
    width: 145px;
}

.signup_dd-birthyear {
    margin-right: 8px;
    width: 170px;
}

.signup_dd-department, .signup_dd-jobtitle {
    width: 524px;
}

#signup_btn {
    color: #F5F5F5;
    background-color: #799c8d;
    border-radius: 10px;
    margin: 2px 25%;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    text-align: right;
}

#signup_btn:hover {
    background-color: #698a7c;
}

.red-asterisk {
    font-size: 16px;
    font-weight: bold;
    color: red;
    text-align: left;
}

.form-group {
    padding: 2px;
}

.admin_lbl{
    font-size: 24px;
    font-weight: bold;
    font-family: "Trebuchet MS", Tahoma, sans-serif;
}

.header1 {
    background-color: #799c8d;
    color: #F5F5F5;
    text-align: center;
    padding: 8px;
    width: 100%;
    margin-left: 0px;
}

.tab {
    display: inline-block;
    margin-left: 2em;
}

.login_container {
    padding: 25px;
    text-align: center;
}

.login_lbl,.fp_lbl {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.login_txtbox {
    border-radius: 10px;
    padding: 10px 12px;
    margin: 8px 0;
    width: 30%;
    display: inline-block;
}

#login_fp, #login_su, #login_noacc-lb {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

#login_fp:hover{
    text-decoration: underline;
}

#login_btn, #sendlink_btn {
    background-color: #799c8d;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    width: 15%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #F5F5F5;
}

#login_btn:hover, #sendlink_btn:hover {
    background-color: #698a7c;
}

#forgetpassword_lb {
    font-size: 12px;
}

.forgotpassword_table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

.fp_txtbox {
    border-radius: 10px;
    padding: 10px 12px;
    margin: 8px 0;
    width: 100%;
    display: inline-block;
}

.accounts_table {
    border-spacing: 10px 2px;
    padding-top: 24px;
    padding-left: 22%;
    padding-right: 8px;
    text-align: left;
    width: 100%;
}

.accounts_table th {
    border-radius: 10px;
    background-color: #799c8d;
    
    padding: 10px;
    text-align: center;
}

.accounts_table td {
    border-radius: 10px;
    padding: 8px;
}

.accountT_lbl {
    font-size: 14px;
    color: black;
    text-align: left;
}


.accounts_table tr:nth-child(odd) {
    background-color: #f9f9f9; 
}

.accounts_table tr:nth-child(even) {
    background-color: #D3D3D3; 
}



.search-bar {
    
    margin-bottom: 20px;
    text-align: right;
}

#searchInput {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#searchButton {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    background-color: #799c8d;
    color: #fff;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #698a7c;
}

.button-bar {
    display: flex;
    justify-content: flex-end;
}

.button-bar button {
    padding: 8px 12px;
    background-color: #799c8d;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

.button-bar button:hover {
    background-color: #698a7c;
}

.container {
    position: absolute;
    bottom: 20px;
    right: 20px; 
    display: flex;
    justify-content: flex-end;
  }

  
  .previous {
    background-color: #f1f1f1;
    color: black;
    border-radius: 5px;
  }
  
  .next {
    background-color: #799c8d;
    color: white;
    border-radius: 5px;
    margin-left: 11px;
  }
  
