<div class="tab-pane fade" id="testresult" role="tabpanel" aria-labelledby="testresult">
    <div class="row">
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card card-rounded">
          <div class="card-body">
            <div class="justify-content-between align-items-start">
              <h4 class="card-title card-title-dash">Spirometry Results</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th rowspan="2">Date Received</th>
                    <th rowspan="2">Test Result</th>
                    <th colspan="2" style="text-align:center">FEV1/FVC Ratio</th>
                  </tr>
                  <tr style="text-align:center">
                    <th>PRE</th>
                    <th>POST</th>
                  </tr>
                </thead>
                <tbody>
                  {% if most_recent_tests_spirometry|length == 0 %}
                    <tr>
                      <td colspan="3" class="text-center">No submitted tests yet</td>
                    </tr>
                  {% else %}
                    {% for value in most_recent_tests_spirometry %}
                      <tr>
                        <td>{{ value.date }}</td>
                        <td>
                          <a href="javascript:void(0);" class="btn btn-success btn-icon-text view-test" data-url="{{ value.downloadURL }}">
                            <i class="fa fa-eye"></i> View
                          </a>
                        </td>

                        <div class="modal fade" id="spirometryModal" tabindex="-1" role="dialog" aria-labelledby="spirometryModalLabel" aria-hidden="true">
                          <div class="modal-dialog d-flex align-items-center" role="document" style="width: 90vw; height: 100vh; margin: 0 auto;">
                            <div class="modal-content" style="width: 1000px; height: 100%; border-radius: 10px; overflow: hidden; box-shadow: none;">
                              <div class="modal-header">
                                <h5 class="modal-title" id="spirometryModalLabel">Test Result Image</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body text-center" style="height: calc(100% - 56px);"> 
                                <!-- The image will be loaded here -->
                                <img id="spirometryImage" src="" alt="Spirometry Test" style="width: 100%; height: auto; max-height: 100%; max-width: 100%;">
                              </div>
                            </div>
                          </div>
                        </div>

                        <td>{{ value.pre_ratio }}</td>
                        <td>{{ value.post_ratio }}</td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card card-rounded">
          <div class="card-body">
            <div class="justify-content-between align-items-start">
              <h4 class="card-title card-title-dash">Peak Flow Monitor Results</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Date Received</th>
                    <th>Test Result</th>
                    <th>Reading</th>
                  </tr>
                </thead>
                <tbody>
                  {% if most_recent_tests_peak_flow_monitor|length == 0 %}
                    <tr>
                      <td colspan="3" class="text-center">No submitted tests yet</td>
                    </tr>
                  {% else %}
                    {% for value in most_recent_tests_peak_flow_monitor %}
                      <tr>
                        <td>{{ value.date }}</td>
                        <td>
                          <a href="javascript:void(0);" class="btn btn-success btn-icon-text view-test" data-url="{{ value.downloadURL }}">
                            <i class="fa fa-eye"></i> View
                          </a>
                        </td>

                        <div class="modal fade" id="spirometryModal" tabindex="-1" role="dialog" aria-labelledby="spirometryModalLabel" aria-hidden="true">
                          <div class="modal-dialog d-flex align-items-center" role="document" style="width: 90vw; height: 100vh; margin: 0 auto;">
                            <div class="modal-content" style="width: 1000px; height: 100%; border-radius: 10px; overflow: hidden; box-shadow: none;">
                              <div class="modal-header">
                                <h5 class="modal-title" id="spirometryModalLabel">Peak Flow Monitor Image</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body text-center" style="height: calc(100% - 56px);"> 
                                <!-- The image will be loaded here -->
                                <img id="spirometryImage" src="" alt="Spirometry Test" style="width: 100%; height: auto; max-height: 100%; max-width: 100%;">
                              </div>
                            </div>
                          </div>
                        </div>
                        <td>{{ value.reading }}</td>
                      </tr>
                    {% endfor %}
                  {% endif %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card card-rounded">
          <div class="card-body">
            <div class="justify-content-between align-items-start">
              <h4 class="card-title card-title-dash">Other Tests</h4>
            </div>
            <div class="table-responsive">
              <table class="table table-striped">
                {% if not most_recent_tests_ct_scan and not most_recent_tests_arterial_blood_gas and not most_recent_tests_sputum and not most_recent_tests_hrct and not most_recent_tests_pulse_oximetry and not most_recent_tests_chest_xray %}
                  <tr>
                    <td colspan="3" class="text-center">No submitted tests yet</td>
                  </tr>
                {% else %}
                  {% if most_recent_tests_ct_scan %}
                    <thead>
                      <tr>
                        <th>Test Type</th>
                        <th>Date Received</th>
                        <th>Test Result</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for value in most_recent_tests_ct_scan %}
                        <tr>
                          <td>{{ value.testRequestKey }}</td>
                          <td>{{ value.date }}</td>
                          <td>
                            <a href="{{ value.downloadURL }}" class="btn btn-success btn-icon-text" target="_blank">
                              <i class="fa fa-eye"></i> View
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  {% endif %}
                  {% if most_recent_tests_arterial_blood_gas %}
                    <thead>
                      <tr>
                        <th>Test Type</th>
                        <th>Date Received</th>
                        <th>Test Result</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for value in most_recent_tests_arterial_blood_gas %}
                        <tr>
                          <td>{{ value.testRequestKey }}</td>
                          <td>{{ value.date }}</td>
                          <td>
                            <a href="{{ value.downloadURL }}" class="btn btn-success btn-icon-text" target="_blank">
                              <i class="fa fa-eye"></i> View
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  {% endif %}
                  {% if most_recent_tests_sputum %}
                    <thead>
                      <tr>
                        <th>Test Type</th>
                        <th>Date Received</th>
                        <th>Test Result</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for value in most_recent_tests_sputum %}
                        <tr>
                          <td>{{ value.testRequestKey }}</td>
                          <td>{{ value.date }}</td>
                          <td>
                            <a href="{{ value.downloadURL }}" class="btn btn-success btn-icon-text" target="_blank">
                              <i class="fa fa-eye"></i> View
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  {% endif %}
                  {% if most_recent_tests_hrct %}
                    <thead>
                      <tr>
                        <th>Test Type</th>
                        <th>Date Received</th>
                        <th>Test Result</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for value in most_recent_tests_hrct %}
                        <tr>
                          <td>{{ value.testRequestKey }}</td>
                          <td>{{ value.date }}</td>
                          <td>
                            <a href="{{ value.downloadURL }}" class="btn btn-success btn-icon-text" target="_blank">
                              <i class="fa fa-eye"></i> View
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  {% endif %}
                  {% if most_recent_tests_pulse_oximetry %}
                    <thead>
                      <tr>
                        <th>Test Type</th>
                        <th>Date Received</th>
                        <th>Test Result</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for value in most_recent_tests_pulse_oximetry %}
                        <tr>
                          <td>{{ value.testRequestKey }}</td>
                          <td>{{ value.date }}</td>
                          <td>
                            <a href="{{ value.downloadURL }}" class="btn btn-success btn-icon-text" target="_blank">
                              <i class="fa fa-eye"></i> View
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  {% endif %}
                  {% if most_recent_tests_chest_xray %}
                    <thead>
                      <tr>
                        <th>Test Type</th>
                        <th>Date Received</th>
                        <th>Test Result</th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for value in most_recent_tests_chest_xray %}
                        <tr>
                          <td>{{ value.testRequestKey }}</td>
                          <td>{{ value.date }}</td>
                          <td>
                            <a href="{{ value.downloadURL }}" class="btn btn-success btn-icon-text" target="_blank">
                              <i class="fa fa-eye"></i> View
                            </a>
                          </td>
                        </tr>
                      {% endfor %}
                    </tbody>
                  {% endif %}
                {% endif %}
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="btn-wrapper" style="text-align: right">
        <a href = "{% url 'diagnostic_reports' %}?chosenPatient={{chosenPatient}}" class="btn btn-primary text-white me-0" >View All Test Results</a>
      </div>
    </div>
  </div>