<div class="tab-pane fade show" id="vaccine" role="tabpanel" aria-labelledby="vaccine">
  <div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Vaccine</th>
                  <th>Last Date</th>
                  <th>Previous Vaccination Dates</th>
                  <th>Dose</th>
                </tr>
              </thead>
              <tbody>
                {% if vaccine_history %}
                  {% for vaccine, details in vaccine_history.items %}
                    <tr>
                      <td>{{ vaccine|capfirst }}</td>
                      <td>{{ details.lastDate }}</td>
                      <td colspan="3">
                        <table class="table table-bordered">
                          {% for key, value in details.dates.items %}
                            <tr>
                              <td>
                                  <span class="badge badge-dark">{{ value.date }}</span>
                              </td>
                              <td>{{ value.dose }}</td>
                            </tr>
                          {% endfor %}
                        </table>
                      </td>
                    </tr>
                  {% endfor %}
                {% else %}
                  <tr>
                    <td colspan="4" style="text-align: center;">No vaccination history available.</td>
                  </tr>
                {% endif %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>