body {
    background-color: #F5F5F5;
    font-family: 'Inter';
    margin-left: 0px;
}

.header1 {
    background-color: #799c8d;
    color: #F5F5F5;
    text-align: center;
    padding: 8px;
    width: 100%;
    margin-left: 0px;
}

.red-asterisk {
    font-size: 16px;
    font-weight: bold;
    color: red;
    text-align: left;
}

.login_container {
    padding: 25px;
    text-align: center;
}

.login_lbl, .signup_lbl, .fp_lbl {
    font-size: 16px;
    font-weight: bold;
    color: black;
    text-align: left;
}

.login_txtbox {
    border-radius: 10px;
    padding: 10px 12px;
    margin: 8px 0;
    width: 30%;
    display: inline-block;
}

#login_fp, #login_su, #login_noacc-lb {
    font-size: 15px;
    font-weight: bold;
    color: black;
}

#login_btn, #signup_btn, #sendlink_btn {
    background-color: #799c8d;
    border-radius: 10px;
    margin: 10px 0px;
    padding: 10px;
    width: 15%;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #F5F5F5;
}

.signup_lbl2 {
    font-size: 16px;
    color: black;
    text-align: left;
}

.signup_table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.signup_table td {
    padding: 2px;
}

.signup_txtbox {
    border-radius: 10px;
    padding: 10px 8px;
    margin: 8px 0px;
    width: 95%;
}

.signup_txtboxname {
    border-radius: 10px;
    padding: 10px 8px;
    margin: 8px 0px;
    width: 185px;
}

.signup_dd-birthmonth, .signup_dd-birthday, .signup_dd-birthyear {
    border-radius: 10px;
    padding: 10px 8px;
}

.signup_dd-birthmonth {
    margin: 8px 0px;
    width: 200px;
}

.signup_dd-birthday {
    width: 145px;
}

.signup_dd-birthyear {
    margin-right: 8px;
    width: 170px;
}

#forgetpassword_lb {
    font-size: 12px;
}

.forgotpassword_table {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
}

.fp_txtbox {
    border-radius: 10px;
    padding: 10px 12px;
    margin: 8px 0;
    width: 100%;
    display: inline-block;
}